In [1]:
import sys
import os
sys.path.append(os.path.abspath(".."))

import numpy as np
import pandas as pd
import importlib
import matplotlib.pyplot as plt
from pyarrow import table

import volpy_func_lib as vp
import volpy_func_ticker_lib as vtp
import load_clean_lib
import table_lib
import vol_strat_lib as vs
import option_returns as orpy

importlib.reload(vtp)
importlib.reload(vp)
importlib.reload(load_clean_lib)
importlib.reload(table_lib)
importlib.reload(vs)

import os
os.makedirs("figures/summary", exist_ok=True)

# Summary tables

In [19]:
importlib.reload(vtp)
importlib.reload(table_lib)

scale = 0.6
ticker_list_list = [vp.VIX_tickers, vp.Cross_AM_tickers, vp.OEX_tickers, vp.Liquid_tickers]
name_list = ["VIX", "Cross-AM", "OEX", "Liquid"]

for ticker_list, name in zip(ticker_list_list, name_list):
    sum_df = vtp.concat_ticker_datasets(ticker_list, "sum1")
    _ = table_lib.table_dataset_list_strike_count_pages(sum_df, name = name, width_scale=scale)

In [20]:
_

,No.,ticker,Starting_date,Ending_date,N,NK,Q1_K,Q5_K,Q10_K,Name
0,1,SPX,04-Jan-1996,31-Aug-2023,6963,91.4,22.0,25.0,27.5,S\&P 500 Index
1,2,EWZ,26-May-2006,31-Aug-2023,4239,27.2,3.5,6.5,12.0,Brazil ETF
2,3,FXI,19-Oct-2004,31-Aug-2023,4670,26.3,7.0,13.0,16.5,China ETF
3,4,EWY,11-Jul-2007,31-Aug-2023,4065,24.0,10.0,13.5,15.5,South Korea ETF
4,5,EWW,29-Nov-2007,31-Aug-2023,3965,23.0,9.5,13.0,15.0,Mexico ETF
5,6,EEM,09-Mar-2006,31-Aug-2023,4398,21.8,5.5,8.5,13.5,Emerging Markets ETF
6,7,VNQ,02-Sep-2005,31-Aug-2023,4334,15.7,4.5,6.0,7.5,Real Estate ETF
7,8,EZA,29-May-2007,31-Aug-2023,3917,14.3,3.5,5.0,6.5,South Africa ETF
8,9,EWJ,07-Feb-2006,31-Aug-2023,2830,13.5,3.0,3.0,3.5,Japan ETF
9,10,VGK,10-Oct-2005,31-Aug-2023,4234,11.5,5.0,5.5,6.5,Europe ETF
10,11,INDA,06-Aug-2013,31-Aug-2023,2216,9.7,3.5,4.0,4.5,India ETF
11,12,EWU,17-Oct-2006,31-Aug-2023,2151,7.2,3.0,3.5,3.5,United Kingdom ETF
12,13,EWC,10-Mar-2006,31-Aug-2023,3297,7.1,3.5,4.0,4.0,Canada ETF
13,14,EWA,06-Mar-2007,22-Aug-2023,2931,6.2,3.5,4.0,4.0,Australia ETF
14,15,HYG,12-Apr-2007,31-Aug-2023,3849,14.3,4.0,6.0,7.5,High Yield Corp. Bond ETF
15,16,EMB,06-Oct-2011,31-Aug-2023,2756,12.2,4.0,5.0,5.5,Emerging Markets Bond ETF
16,17,LQD,06-Mar-2003,31-Aug-2023,4593,11.4,3.5,4.5,5.0,Investment Grade Corp. Bond ETF
17,18,TIP,22-Jan-2004,31-Aug-2023,3652,8.3,3.5,4.0,4.0,TIPS Bond ETF
18,19,USO,09-May-2007,31-Aug-2023,4107,26.0,6.5,8.0,10.0,Oil Fund
19,20,SLV,09-Dec-2008,31-Aug-2023,3700,19.6,4.5,6.5,8.0,Silver Trust
20,21,UNG,09-May-2007,31-Aug-2023,4056,14.9,3.5,4.5,5.5,Natural Gas Fund
21,22,IAU,15-Dec-2008,23-Aug-2023,1310,6.3,3.0,3.0,3.5,Gold Trust
22,23,FXE,09-May-2007,31-Aug-2023,4098,21.1,5.5,8.0,9.5,Euro Trust
23,24,FXY,09-May-2007,29-Aug-2023,4076,14.3,4.5,6.0,7.0,Japanese Yen Trust
24,25,UUP,23-Oct-2008,31-Aug-2023,2268,5.3,3.0,3.0,3.0,US Dollar Trust
25,26,UVXY,19-Mar-2012,31-Aug-2023,2873,44.5,11.0,16.8,20.5,VIX Short-Term Futures ETF
26,27,BITO,20-Oct-2021,31-Aug-2023,467,25.5,7.8,11.2,12.5,Bitcoin ETF

In [22]:
importlib.reload(vtp)
importlib.reload(table_lib)

ticker_list = vp.Liquid_tickers
name = "Liquid"
scale = 0.6
sum_df = vtp.concat_ticker_datasets(ticker_list, "sum1")
table_lib.table_dataset_list_strike_count_pages(sum_df, name = name, width_scale=scale)

,No.,ticker,Starting_date,Ending_date,N,NK,Q1_K,Q5_K,Q10_K,Name
0,1,SPX,04-Jan-1996,31-Aug-2023,6963,91.4,22.0,25.0,27.5,S\&P 500 Index
1,2,NDX,07-Jan-2008,31-Aug-2023,3672,83.2,30.5,34.5,37.5,NASDAQ 100 Index
2,3,OEX,07-Jan-2008,31-Aug-2023,3932,45.7,15.5,24.5,28.0,Cboe S\&P 100 Index
3,4,DJX,07-Jan-2008,31-Aug-2023,3933,39.1,11.5,16.5,20.0,Dow Jones Ind. Average Index
4,5,SPY,10-Jan-2005,31-Aug-2023,4693,63.2,17.5,22.0,27.0,S\&P 500 ETF Trust
5,6,QQQ,11-Mar-1999,31-Aug-2023,4572,50.0,8.5,10.5,13.0,NASDAQ 100 Index ETF
6,7,DIA,20-May-2002,31-Aug-2023,5359,44.0,13.0,15.5,17.5,Dow Jones Ind. Average ETF
7,8,OEF,02-Dec-2008,29-Aug-2023,3661,18.3,5.0,7.5,8.5,Ishares Trust
8,9,BKNG,08-Jul-1999,31-Aug-2023,1777,106.5,3.0,6.5,9.5,Banknorth Group Inc De
9,10,GOOGL,03-Apr-2014,31-Aug-2023,2370,87.4,33.5,39.0,42.5,Google Inc
10,11,GOOG,04-Apr-2014,31-Aug-2023,2368,85.4,32.0,38.0,41.5,Google Inc
11,12,TSLA,08-Jul-2010,31-Aug-2023,3311,67.0,10.0,14.5,18.5,Tesla Motors Inc
12,13,AMZN,20-Nov-1997,31-Aug-2023,6439,56.9,4.0,5.5,7.0,Amazon Com Inc
13,14,META,01-Jul-2021,31-Aug-2023,456,54.2,31.8,33.9,36.5,Metatec Corp
14,15,NFLX,19-Nov-2002,31-Aug-2023,5139,38.3,3.5,5.0,6.0,Netflix Inc
15,16,MA,05-Jun-2006,31-Aug-2023,4330,33.4,4.0,13.5,16.5,May Department Stores Co
16,17,PYPL,21-Jul-2015,31-Aug-2023,2044,32.9,14.2,17.0,19.5,Paypal Inc
17,18,AAPL,04-Jan-1996,31-Aug-2023,6691,30.4,3.5,4.5,5.5,Apple Computer Inc
18,19,AVGO,06-Oct-2009,31-Aug-2023,2951,28.4,3.0,4.0,5.0,Avantgo Inc
19,20,CHTR,16-Aug-2011,31-Aug-2023,2873,25.7,4.0,4.5,6.0,Charter Power Systems Inc
20,21,NVDA,28-Jul-1999,31-Aug-2023,5939,25.3,3.5,4.5,5.5,Nvidia Corp
21,22,TMUS,03-May-2013,31-Aug-2023,2590,24.6,9.0,11.5,13.0,T Mobile U S Inc
22,23,CRM,19-Aug-2004,31-Aug-2023,4657,24.1,3.3,4.0,5.5,Corimon C A S A C A
23,24,ABBV,09-Jan-2013,31-Aug-2023,2654,24.0,4.0,5.0,6.7,Abbvie Inc
24,25,HCA,05-Apr-2011,31-Aug-2023,3032,23.4,4.0,8.5,11.0,H C A Healthcare Co
25,26,V,28-Mar-2008,31-Aug-2023,3885,22.9,7.5,10.5,12.0,Vivra Inc
26,27,GS,13-Aug-1999,31-Aug-2023,6025,22.3,5.0,6.5,7.5,Goldman Sachs Group Inc
27,28,PARA,17-Feb-2022,31-Aug-2023,386,22.2,12.5,14.0,15.0,Paramount Financial Corp
28,29,WB,28-Apr-2014,21-Aug-2023,2323,22.1,4.5,6.0,7.5,Wachovia Corp New
29,30,GM,29-Nov-2010,31-Aug-2023,3211,21.6,10.0,12.0,14.0,General Motors Corp
30,31,BIIB,13-Nov-2003,31-Aug-2023,4818,21.4,3.5,4.0,5.0,Biogen Idec Inc
31,32,PM,08-Apr-2008,31-Aug-2023,3807,20.8,4.0,7.5,9.5,Polymedica Industries Inc
32,33,MSFT,04-Jan-1996,31-Aug-2023,6324,19.8,3.5,5.0,7.0,Microsoft Corp
33,34,BA,04-Jan-1996,31-Aug-2023,6801,19.5,3.5,4.0,4.5,Boeing Co
34,35,ADBE,04-Jan-1996,31-Aug-2023,6778,18.8,3.0,4.0,4.5,Adobe Systems Inc
35,36,OXY,14-Jan-1997,31-Aug-2023,4990,18.4,3.0,4.0,5.0,Occidental Petroleum Corp
36,37,MET,12-Jul-2000,31-Aug-2023,4494,18.3,3.0,3.5,5.0,Metropolitan Realty Corp
37,38,DE,06-Feb-1996,31-Aug-2023,5986,18.3,3.0,3.5,4.0,Deere \& Co
38,39,DAL,08-May-2007,31-Aug-2023,4013,18.3,4.0,5.0,6.0,Delta Air Lines Inc
39,40,JPM,08-Jan-1996,31-Aug-2023,6732,18.0,3.5,4.0,4.5,Morgan J P \& Co Inc
40,41,CAT,04-Jan-1996,31-Aug-2023,6697,17.9,3.0,4.0,4.5,Caterpillar Inc
41,42,DIS,13-Feb-1996,31-Aug-2023,6125,17.8,3.0,3.5,4.0,Disney Walt Co
42,43,COST,26-Feb-1997,31-Aug-2023,6366,17.6,3.0,4.0,5.0,Costco Companies Inc
43,44,COF,09-Jan-1996,31-Aug-2023,6630,17.6,3.0,4.0,5.0,Capital One Financial Corp
44,45,IBM,04-Jan-1996,31-Aug-2023,6898,17.4,4.0,5.0,7.0,International Business Machs Cor
45,46,QCOM,04-Jan-1996,31-Aug-2023,6934,17.3,4.0,5.5,6.0,Qualcomm Inc
46,47,GILD,09-Jan-1996,31-Aug-2023,6790,17.2,3.0,4.0,5.5,Gilead Sciences Inc
47,48,ACN,22-Oct-2001,31-Aug-2023,4165,17.2,3.0,3.5,4.0,Acuson Corp
48,49,UNH,04-Jan-1996,31-Aug-2023,6715,16.7,3.5,4.0,4.5,United Healthcare Corp
49,50,C,09-Jan-1996,31-Aug-2023,6538,16.6,3.0,4.0,4.5,Chrysler Corp

# VIX

In [122]:
importlib.reload(vtp)
importlib.reload(table_lib)

sum_df = vtp.concat_ticker_datasets(vp.VIX_tickers, "sum1")
table_lib.table_dataset_list_strike_count_pages(sum_df, name = "VIX", width_scale=scale)

,No.,ticker,Starting_date,Ending_date,N,NK,Q1_K,Q5_K,Q10_K,Name
0,1,SPX,04-Jan-1996,31-Aug-2023,6963,91.4,22.0,25.0,27.5,CBOE S\&P 500 INDEX
1,2,GOOGL,27-Aug-2004,31-Aug-2023,4786,66.2,18.4,25.0,29.0,GOOGLE INC
2,3,AMZN,20-Nov-1997,31-Aug-2023,6439,56.9,4.0,5.5,7.0,AMAZON COM INC
3,4,DIA,20-May-2002,31-Aug-2023,5359,44.0,13.0,15.5,17.5,DIAMONDS TRUST
4,5,IWM,18-Oct-2000,31-Aug-2023,5684,42.4,3.5,5.5,11.5,ISHARES TRUST
5,6,QQQ,10-Mar-1999,31-Aug-2023,6160,41.3,6.5,8.5,10.5,NASDAQ 100 TRUST SERIES I
6,7,AAPL,04-Jan-1996,31-Aug-2023,6691,30.4,3.5,4.5,5.5,APPLE COMPUTER INC
7,8,EWZ,26-May-2006,31-Aug-2023,4239,27.2,3.5,6.5,12.0,ISHARES INC
8,9,USO,09-May-2007,31-Aug-2023,4107,26.0,6.5,8.0,10.0,U S 1 INDUSTRIES INC
9,10,GS,13-Aug-1999,31-Aug-2023,6025,22.3,5.0,6.5,7.5,GOLDMAN SACHS GROUP INC
10,11,EEM,09-Mar-2006,31-Aug-2023,4398,21.8,5.5,8.5,13.5,ISHARES TRUST
11,12,FXE,09-May-2007,31-Aug-2023,4098,21.1,5.5,8.0,9.5,EURO CURRENCY TRUST
12,13,SLV,09-Dec-2008,31-Aug-2023,3700,19.6,4.5,6.5,8.0,SILVERADO FOODS INC
13,14,IBM,04-Jan-1996,31-Aug-2023,6898,17.4,4.0,5.0,7.0,INTERNATIONAL BUSINESS MACHS COR

# Liquid

In [98]:
df = table_lib.table_dataset_list_strike_count(sum_df, name = "OEX", width_scale=scale)
df = df[df["N"]>8*252]
Liquid_stock_tickers_ = df["ticker"][:42]
Liquid_stock_tickers_ = Liquid_stock_tickers_.to_numpy()
Liquid_stock_tickers_

array(['GOOG', 'BKNG', 'TSLA', 'GOOGL', 'AMZN', 'META', 'NFLX', 'MA',
       'PYPL', 'AAPL', 'AVGO', 'CHTR', 'NVDA', 'CRM', 'ABBV', 'HCA', 'V',
       'GS', 'WB', 'GM', 'PM', 'MSFT', 'PARA', 'BA', 'ADBE', 'TMUS',
       'OXY', 'MET', 'DE', 'DAL', 'BIIB', 'JPM', 'CAT', 'DIS', 'COST',
       'COF', 'IBM', 'QCOM', 'GILD', 'ACN', 'UNH', 'C'], dtype=object)

# Summary visualizations

In [ ]:
import numpy as np
import pandas as pd
import importlib
import matplotlib.pyplot as plt
from pyarrow import table

import volpy_func_lib as vp
import load_clean_lib
import table_lib
import vol_strat_lib as vs
import option_returns as orpy
from volpy_func_lib import return_df, ALL_tickers, VIX_tickers
import volpy_func_ticker_lib as vtp

importlib.reload(vtp)
importlib.reload(vp)
importlib.reload(load_clean_lib)
importlib.reload(table_lib)
importlib.reload(vs)

In [ ]:
df = vtp.concat_ticker_datasets(["SPX"], "sum1")
df = df.set_index('date')

In [ ]:
importlib.reload(vp)
vp.plot_timeseries_with_pct(df, alpha = 0.1, var = "days", var_name = "TTM (trading days)", figsize = (9,4), savefig=True)

In [ ]:
vp.plot_timeseries_with_pct(df, alpha = 0.1, var = "#K", var_name = "# Strikes", figsize = (6,4), savefig=True)

In [ ]:
vp.plot_lowest_number_of_strikes_timeseries(df, figsize = (6,4), savefig=True)

# Overlap of datasets

In [ ]:
def overlap(list1, list2):
    """
    Return the common elements of two lists.
    """
    return list(set(list1) & set(list2))

# assuming your lists are named VIX_tickers and ALL_tickers:
common_tickers = overlap(vp.VIX_tickers, vp.Cross_AM_tickers+vp.OEX_tickers+vp.Liquid_tickers)
print(f"Overlap ({len(common_tickers)}):", common_tickers)

In [ ]:
def difference(list1, list2):
    """
    Return elements in list1 that are not in list2.
    """
    return list(set(list1) - set(list2))

# usage
not_in_vix = difference(vp.Liquid_tickers, vp.Cross_AM_tickers+vp.OEX_tickers+vp.VIX_tickers)
print(f"{len(not_in_vix)} tickers not in VIX:", not_in_vix)

In [2]:
vtp.find_missing_tickers(vp.OEX_tickers)

['AGN',
 'AVP',
 'BDK',
 'BHI',
 'CELG',
 'CGP',
 'CMCSK',
 'COV',
 'CSC',
 'EMC',
 'ENE',
 'EP',
 'GBLX',
 'HET',
 'HNZ',
 'HSH',
 'LEH',
 'MAY',
 'MON',
 'NT',
 'NXTL',
 'NYX',
 'OMX',
 'ONE',
 'PNU',
 'RAL',
 'RSH',
 'RTN',
 'SGP',
 'TOY',
 'UBAN']

# Other

In [69]:
importlib.reload(vtp)
importlib.reload(table_lib)

sum_df = vtp.concat_ticker_datasets(vp.OEX_tickers, "sum1")
table_lib.table_dataset_list_strike_count_pages(sum_df, name = "OEX", width_scale=scale)

Skipped 32/181 tickers: ['OEX', 'AGN', 'AVP', 'BDK', 'BHI', 'CELG', 'CGP', 'CMCSK', 'COV', 'CSC', 'EMC', 'ENE', 'EP', 'GBLX', 'HET', 'HNZ', 'HSH', 'LEH', 'MAY', 'MON', 'NT', 'NXTL', 'NYX', 'OMX', 'ONE', 'PNU', 'RAL', 'RSH', 'RTN', 'SGP', 'TOY', 'UBAN']

,No.,ticker,Starting_date,Ending_date,N,NK,Q1_K,Q5_K,Q10_K
0,1,GOOG,03-Apr-2014,31-Aug-2023,2369,85.417265,32.000,38.0,41.5
1,2,BKNG,08-Jul-1999,31-Aug-2023,5251,69.977052,3.000,4.0,4.5
2,3,TSLA,08-Jul-2010,31-Aug-2023,3311,66.995772,10.000,14.5,18.5
3,4,GOOGL,27-Aug-2004,31-Aug-2023,4786,66.197137,18.425,25.0,29.0
4,5,AMZN,20-Nov-1997,31-Aug-2023,6439,56.855645,4.000,5.5,7.0
...,...,...,...,...,...,...,...,...,...
144,145,BNI,09-Jan-1996,10-Feb-2010,1844,6.032538,3.000,3.0,3.5
145,146,AES,16-May-1996,31-Aug-2023,3201,5.777570,3.000,3.0,3.5
146,147,WYE,04-Jan-1996,14-Oct-2009,2802,5.699679,3.000,3.5,3.5
147,148,GTX,14-Nov-2018,16-Jun-2022,118,3.961864,3.000,3.0,3.0
148,149,G,10-Jun-2010,09-Aug-2023,283,3.644876,3.000,3.0,3.0

In [128]:
tickers = df["ticker"][:42].to_numpy()      # gives a 1D array of length 42
tickers

array(['GOOG', 'BKNG', 'TSLA', 'GOOGL', 'AMZN', 'META', 'NFLX', 'MA',
       'PYPL', 'AAPL', 'AVGO', 'CHTR', 'NVDA', 'CRM', 'ABBV', 'HCA', 'V',
       'GS', 'WB', 'GM', 'PM', 'MSFT', 'PARA', 'BA', 'ADBE', 'TMUS',
       'OXY', 'MET', 'DE', 'DAL', 'BIIB', 'JPM', 'CAT', 'DIS', 'COST',
       'COF', 'IBM', 'QCOM', 'GILD', 'ACN', 'UNH', 'C'], dtype=object)