In [25]:
from tarfile import data_filter

import pandas as pd
import numpy as np
import importlib
from datetime import datetime
import matplotlib.pyplot as plt
from matplotlib.pyplot import xticks
from pandas.core.interchange.dataframe_protocol import DataFrame
from pygments.lexer import bygroups

import volpy_func_lib as vp
import load_clean_lib
import table_lib

from datetime import datetime
from volpy_func_lib import load_forward_price

In [28]:
vp.load_option_data(r"C:\Users\axell\Desktop\CBS\data\OptionMetrics\i4s4_CW\option data.csv")

,ticker,optionid,date,exdate,cp_flag,K,bid,ask,IV_om,volume,n_trading_day,days
0,NDX,10767859.0,1996-01-04,1996-02-17,P,665.0,95.000,98.000,NaN,0.0,0,44
1,NDX,10770182.0,1996-01-04,1996-01-20,C,505.0,60.500,63.500,0.437706,0.0,0,16
2,NDX,10774201.0,1996-01-04,1996-01-20,P,525.0,2.500,3.000,0.338950,0.0,0,16
3,NDX,10784071.0,1996-01-04,1996-01-20,P,625.0,57.250,60.250,NaN,0.0,0,16
4,NDX,10798579.0,1996-01-04,1996-02-17,C,515.0,58.250,61.250,0.352929,0.0,0,44
...,...,...,...,...,...,...,...,...,...,...,...,...
250238,OEX,10018812.0,1997-02-28,1997-04-19,C,680.0,93.375,94.375,0.257649,1.0,292,50
250239,OEX,10023082.0,1997-02-28,1997-04-19,P,670.0,2.375,2.625,0.268720,115.0,292,50
250240,OEX,10023866.0,1997-02-28,1997-04-19,C,690.0,84.125,85.125,0.248714,0.0,292,50
250241,OEX,10035650.0,1997-02-28,1997-03-22,C,745.0,30.625,31.625,0.215722,16.0,292,22
250242,OEX,10042150.0,1997-02-28,1997-06-21,C,820.0,14.500,15.250,0.181512,2.0,292,113

In [44]:
importlib.reload(vp)
importlib.reload(load_clean_lib)
importlib.reload(table_lib)

In [ ]:
load_clean_lib.dirs("Axel") # comments

{'OptionMetrics': WindowsPath('C:/Users/axell/Desktop/CBS/data/OptionMetrics'),
 'CarrWu': WindowsPath('C:/Users/axell/Desktop/CBS/data/OptionMetrics/1996-2003 (CarrWu2009)'),
 'i4s4': WindowsPath('C:/Users/axell/Desktop/CBS/data/OptionMetrics/1996-2003 (CarrWu2009)/i4s4'),
 'i91': WindowsPath('C:/Users/axell/Desktop/CBS/data/OptionMetrics/1996-2003 (CarrWu2009)/i91'),
 'US ZOO': WindowsPath('C:/Users/axell/Desktop/CBS/data/OptionMetrics/1996-2003 (CarrWu2009)/US ZOO'),
 'i2s1 full': WindowsPath('C:/Users/axell/Desktop/CBS/data/OptionMetrics/1996-2003 (CarrWu2009)/i2s1 full'),
 'i4s4_CW': WindowsPath('C:/Users/axell/Desktop/CBS/data/OptionMetrics/i4s4_CW')}

In [45]:
IV_type = "od" # od = OptionMetrics IV, "bid"/"ask"/"mid" price
data_folder = "i4s4"
profile = "Axel"
ticker_list = ["SPX","OEX","DJX","NDX","MSFT","IBM","GE","AMZN"]

# Load data and clean
od, returns_and_prices = load_clean_lib.load_clean_and_prepare_od(data_folder = data_folder, profile = profile, tickers = ticker_list, first_day = None, last_day = None, IV_type = IV_type)

# Calculate results such as SW, RV ect.
summary_dly_df, od_rdy = load_clean_lib.create_summary_dly_df(od, returns_and_prices, first_day = None, last_day = None)

Tilgængelige IV-kolonner i od: ['date', 'exdate', 'cp_flag', 'K', 'bid', 'ask', 'volume', 'IV_om', 'optionid', 'ticker', 'n_trading_day', 'days', 'spread', 'mid', 'F', 'r']

KeyError: 'od'

In [34]:
summary_dly_df = summary_dly_df[summary_dly_df["SW_0_30"].notna()]
summary_dly_df = summary_dly_df.reset_index()

In [35]:
# # Make tables for SW_return_day
table_lib.CarrWu2009_table_1(summary_dly_df, print_latex = False)

  ticker Starting_date  Ending_date     N         NK
1    SPX   04-Jan-1996  28-Feb-2003  1801  31.923098
0    OEX   04-Jan-1996  28-Feb-2003  1801  31.911438

In [36]:
table_lib.CarrWu2009_table_2(summary_dly_df, print_latex = False)

,ticker,Mean_RV,Std_RV,Auto_RV,Skew_RV,Kurt_RV,Mean_SW,Std_SW,Auto_SW,Skew_SW,Kurt_SW
1,SPX,4.096837,3.364648,0.985650,2.105232,5.104466,5.563502,3.045250,0.959480,1.811313,4.120164
0,OEX,4.567990,3.743152,0.985535,2.028253,4.654040,6.074694,3.203281,0.964629,1.619039,2.906329

In [37]:
table_lib.CarrWu2009_table_3(summary_dly_df, print_latex = False)

,ticker,Mean_diff,Std_diff,Auto_diff,Skew_diff,Kurt_diff,t_diff,Mean_ln,Std_ln,Auto_ln,Skew_ln,Kurt_ln,t_ln
1,SPX,-1.466665,2.980616,0.945156,0.408180,4.052929,-5.240061,-0.448860,0.543814,0.954314,0.314075,-0.002770,-8.389881
0,OEX,-1.506703,3.255956,0.951872,0.751354,3.197749,-4.858672,-0.436797,0.546782,0.958379,0.377502,-0.075604,-8.028275