In [31]:
from tarfile import data_filter

import pandas as pd
import numpy as np
import importlib
from datetime import datetime
import matplotlib.pyplot as plt
from matplotlib.pyplot import xticks
from pandas.core.interchange.dataframe_protocol import DataFrame
from pygments.lexer import bygroups

import volpy_func_lib as vp
import load_clean_lib
import table_lib

from datetime import datetime
from volpy_func_lib import load_forward_price

In [32]:
importlib.reload(vp)
importlib.reload(load_clean_lib)
importlib.reload(table_lib)

In [33]:
IV_type = "od" # od = OptionMetrics IV, "bid"/"ask"/"mid" price
data_folder = "i4s4"
profile = "Mads"
ticker_list = ["SPX", "OEX"]

# Load data and clean
od, returns_and_prices = load_clean_lib.load_clean_and_prepare_od(data_folder = data_folder, profile = profile, tickers = ticker_list, first_day = None, last_day = None, IV_type = IV_type)

# Calculate results such as SW, RV ect.
summary_dly_df, od_rdy = load_clean_lib.create_summary_dly_df(od, returns_and_prices, first_day = None, last_day = None)

Processing Groups: 100%|██████████| 7204/7204 [00:05<00:00, 1302.93it/s]

In [34]:
summary_dly_df = summary_dly_df[summary_dly_df["SW_0_30"].notna()]
summary_dly_df = summary_dly_df.reset_index()

In [35]:
# # Make tables for SW_return_day
table_lib.CarrWu2009_table_1(summary_dly_df, print_latex = False)

  ticker Starting_date  Ending_date     N         NK
1    SPX   04-Jan-1996  28-Feb-2003  1801  31.923098
0    OEX   04-Jan-1996  28-Feb-2003  1801  31.911438

In [36]:
table_lib.CarrWu2009_table_2(summary_dly_df, print_latex = False)

,ticker,Mean_RV,Std_RV,Auto_RV,Skew_RV,Kurt_RV,Mean_SW,Std_SW,Auto_SW,Skew_SW,Kurt_SW
1,SPX,4.096837,3.364648,0.985650,2.105232,5.104466,5.563502,3.045250,0.959480,1.811313,4.120164
0,OEX,4.567990,3.743152,0.985535,2.028253,4.654040,6.074694,3.203281,0.964629,1.619039,2.906329

In [37]:
table_lib.CarrWu2009_table_3(summary_dly_df, print_latex = False)

,ticker,Mean_diff,Std_diff,Auto_diff,Skew_diff,Kurt_diff,t_diff,Mean_ln,Std_ln,Auto_ln,Skew_ln,Kurt_ln,t_ln
1,SPX,-1.466665,2.980616,0.945156,0.408180,4.052929,-5.240061,-0.448860,0.543814,0.954314,0.314075,-0.002770,-8.389881
0,OEX,-1.506703,3.255956,0.951872,0.751354,3.197749,-4.858672,-0.436797,0.546782,0.958379,0.377502,-0.075604,-8.028275