In [1]:
import pandas as pd
import numpy as np
from pandas.core.interchange.dataframe_protocol import DataFrame

import volpy_func_lib as vp
import load_clean_lib
import importlib
from datetime import datetime
import matplotlib.pyplot as plt

from volpy_func_lib import load_forward_price

In [2]:
importlib.reload(vp)
importlib.reload(load_clean_lib)

# Load and Clean data

In [3]:
# Load data
profile = "Mads"
dataset = "i4s4"
od, FW, ZCY_curves = load_clean_lib.load_od_FW_ZCY(profile, dataset)


# first_day = pd.to_datetime("1996-01-04")
# last_day = pd.to_datetime("1997-01-01")
first_day = pd.to_datetime("1996-01-04")
# first_day = pd.to_datetime("2002-01-04")
last_day = pd.to_datetime("2003-02-28")
# last_day = pd.to_datetime("1996-05-01")

# Clean data
od = load_clean_lib.clean_od(od, first_day = first_day, last_day = last_day)

## Add FW to options

In [4]:
od = vp.add_FW_to_od(od, FW)

# remove if ITM

In [5]:
od = od.loc[
    ((od["F"] < od["K"]) & (od["cp_flag"] == "C")) | ((od["F"] > od["K"]) & (od["cp_flag"] == "P"))
]

## Add r to options

In [6]:
od = vp.add_r_to_od(od, ZCY_curves)

## Add low/high and create summary

In [7]:
# Process each (date, ticker) group and collect summary information
summary_list = []
processed_groups = []
for (current_date, current_ticker), group in od.groupby(["date", "ticker"]):
    proc_group, summary = vp.process_group_activity_summary(group)
    summary["date"] = current_date
    summary["ticker"] = current_ticker
    summary_list.append(summary)
    processed_groups.append(proc_group)

# Recombine all groups back into the od DataFrame
od = pd.concat(processed_groups)

# Update summary_dly_df (indexed by (ticker, date)) using the gathered summary information
summary_df = pd.DataFrame(summary_list).set_index(["ticker", "date"])

# Make dataset for results for each day for each asset
summary_dly_df = load_clean_lib.summary_dly_df_creator(od)
summary_dly_df.update(summary_df)

## only keep the lowest and the second lowest ("high") TTMs

In [8]:
od_rdy = od[(od["low"] == True) | (od["high"] == True)]

# Calculate swap rate

In [9]:
importlib.reload(vp)
importlib.reload(load_clean_lib)

In [10]:
summary_dly_df = vp.fill_swap_rates(summary_dly_df, od_rdy, n_points=200)

Processing Groups: 100%|██████████| 26686/26686 [13:43<00:00, 32.42it/s]

In [11]:
summary_dly_df

                   #days  low days  high days  low #K  high #K     low SW  \
Ticker Date
GE     1996-01-04    4.0      16.0       44.0     2.0      4.0        NaN
       1996-01-05    4.0      15.0       43.0     2.0      4.0        NaN
       1996-01-08    4.0      12.0       40.0     3.0      4.0  10.755724
       1996-01-09    4.0      11.0       39.0     2.0      4.0        NaN
       1996-01-10    4.0      10.0       38.0     3.0      4.0  10.606864
...                  ...       ...        ...     ...      ...        ...
AMZN   2003-02-24    5.0      26.0       54.0     4.0      7.0  33.356329
       2003-02-25    5.0      25.0       53.0     5.0      5.0  45.297606
       2003-02-26    5.0      24.0       52.0     5.0      6.0  44.528532
       2003-02-27    5.0      23.0       51.0     4.0      6.0  31.209627
       2003-02-28    5.0      22.0       50.0     3.0      6.0  23.592182

                     high SW  Active Inactive reason
Ticker Date
GE     1996-01-04        NaN   False   unique(K) < 3
       1996-01-05        NaN   False   unique(K) < 3
       1996-01-08   6.849246    True
       1996-01-09        NaN   False   unique(K) < 3
       1996-01-10   7.341032    True
...                      ...     ...             ...
AMZN   2003-02-24  49.808785    True
       2003-02-25  40.968534    True
       2003-02-26  40.919518    True
       2003-02-27  38.491318    True
       2003-02-28  39.356098    True

[14408 rows x 9 columns]

In [12]:
summary_dly_df.to_csv("data/summary_dly_df.csv")
od_rdy.to_csv("data/od_rdy.csv")

In [ ]:
summary_dly_df

# Done, rest is random stuff before clean ect.

# Be ready for the D ata

# Replicating option IV's

In [24]:
od

,secid,date,exdate,cp_flag,strike_price,best_bid,best_offer,volume,impl_volatility,ticker,n_trading_day,days,spread,F,r,low,high
0,105169,1996-01-04,1996-01-20,C,60.0,12.6250,13.1250,18,0.431174,GE,0,16,0.5000,72.874078,0.057209,True,False
1,105169,1996-01-04,1996-01-20,C,75.0,0.5000,0.5625,753,0.216178,GE,0,16,0.0625,72.874078,0.057209,True,False
2,105169,1996-01-04,1996-01-20,C,65.0,7.8750,8.0000,30,0.320320,GE,0,16,0.1250,72.874078,0.057209,True,False
3,105169,1996-01-04,1996-01-20,C,47.5,25.1250,25.6250,4,0.948733,GE,0,16,0.5000,72.874078,0.057209,True,False
4,105169,1996-01-04,1996-01-20,P,70.0,0.3125,0.3750,476,0.219093,GE,0,16,0.0625,72.874078,0.057209,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59264,108105,1996-05-01,1997-03-22,C,600.0,83.1250,84.1250,0,0.168632,SPX,82,325,1.0000,674.460867,0.057582,False,False
59265,108105,1996-05-01,1997-03-22,P,675.0,34.5000,35.5000,0,0.144289,SPX,82,325,1.0000,674.460867,0.057582,False,False
59266,108105,1996-05-01,1997-03-22,C,525.0,145.7500,146.7500,0,0.196454,SPX,82,325,1.0000,674.460867,0.057582,False,False
59267,108105,1996-05-01,1997-03-22,C,475.0,190.8750,191.8750,0,0.215242,SPX,82,325,1.0000,674.460867,0.057582,False,False
59268,108105,1996-05-01,1997-03-22,C,550.0,123.8750,124.8750,0,0.186079,SPX,82,325,1.0000,674.460867,0.057582,False,False

In [23]:
summary_dly_df

                   SwapRate  #days  low days  high days  low #K  high #K  \
Ticker Date
GE     1996-01-04       NaN    4.0      16.0       44.0     9.0      4.0
       1996-01-05       NaN    4.0      15.0       43.0     5.0      4.0
       1996-01-08       NaN    4.0      12.0       40.0     4.0      4.0
       1996-01-09       NaN    4.0      11.0       39.0     3.0      4.0
       1996-01-10       NaN    4.0      10.0       38.0     8.0      4.0
...                     ...    ...       ...        ...     ...      ...
SPX    1996-04-25       NaN    6.0      23.0       58.0    25.0     35.0
       1996-04-26       NaN    6.0      22.0       57.0    26.0     35.0
       1996-04-29       NaN    6.0      19.0       54.0    26.0     35.0
       1996-04-30       NaN    6.0      18.0       53.0    25.0     34.0
       1996-05-01       NaN    6.0      17.0       52.0    25.0     34.0

                   Active Inactive reason
Ticker Date
GE     1996-01-04    True
       1996-01-05    True
       1996-01-08    True
       1996-01-09    True
       1996-01-10    True
...                   ...             ...
SPX    1996-04-25    True
       1996-04-26    True
       1996-04-29    True
       1996-04-30    True
       1996-05-01    True

[498 rows x 8 columns]

In [156]:
importlib.reload(vp)
importlib.reload(load_clean_lib)
import sys
import time

# record the code duration
start_time = time.time()

# loop through all dates
for current_date in od["date"].unique():
    # select current date data
    od_date = od[od["date"] == current_date]
    tickers_date = od_date["ticker"].unique()

    # loop through all tickers for the date
    for current_ticker in tickers_date:    
        # select current ticker date data
        od_ticker = od_date[od_date["ticker"] == current_ticker]

        # two functions to get and set info in summary_dly_df
        def get(info):
            return summary_dly_df.at[(current_ticker, current_date), info]        
        def set(info, value, reason = None):
            summary_dly_df.at[(current_ticker, current_date), info] = value
            if reason is not None:
                summary_dly_df.at[(current_ticker, current_date), "Inactive reason"] = reason

        days_ticker = od_ticker["days"].unique()
        set("#days", value = len(days_ticker)) # report number of unique dates for ticker on date
        
        # remove tickers that has less than two unique dates
        if len(days_ticker) < 2:
            set("Active", value = False, reason = "unique(_days) < 2") # False
            # print(f"skipped {current_ticker} for {current_date} due to no data available.")
            continue

        # remove tickers that has no dates within 90 days til expiration        
        if min(days_ticker) > 90:
            set("Active", value = False, reason = "min days > 90") # False
            print(f"skipped {current_ticker} for {current_date} due to min(days) > 90")
            continue
        
        # select two shortest dates that are above 7 days (skip first only if multiple)
        days_ticker = sorted(days_ticker)
        low_2_days = days_ticker[:2]
        if low_2_days[0] <= 8:
            if len(days_ticker) < 3:
                set("Active", value = False, reason = "min days <= 8 & len < 3") # False
                continue
            low_2_days = days_ticker[1:3]
        
        # report two selected days
        set("low days", value = low_2_days[0])
        set("high days", value = low_2_days[1])
        
        # report current date to be active for current ticker, if at least 3 unique strikes. Otherwise inactive
        set("Active", value = True, reason = "")
        for days, high_low in zip(low_2_days, ["low", "high"]): # loops through the highest and lowest days til expiration. e.g. 15 days ("low") and 32 days ("high").
            number_of_K = (od_ticker[od_ticker["days"] == days]["strike_price"]).nunique()
            set(f"{high_low} #K", value = number_of_K)
            if number_of_K < 3:
                set("Active", value = False, reason = f"unique(K) < 3")
        if not get("Active"):
            continue   # if not active
        
        # loop through the two selected dates
        for days in low_2_days:
            TTM = days / 365.0
            # if days > 100: break

            # select TTM data (only the given days til expiration)
            od_TTM = od_ticker[od_ticker["days"] == days]

            # IV = T_data["IV"]["impl_volatility"] #smile, would need to be interpolated            
            # K = T_data["od"]["strike_price"]
            # IV = T_data["od"]["impl_volatility"]
            # cp_flag = T_data["od"]["cp_flag"]
            # option_prices = vp.BSM(F, K, days, IV, r, cp_flag)

            # original slice where days match (idx: od_TTM -> od)
            idx = od_TTM.index

            # modify the original DataFrame in place
            od.loc[idx, "IV_option_price"] = od_TTM.apply(
                lambda row: vp.BSM(
                    row["F"],
                    row["strike_price"],
                    TTM,
                    row["impl_volatility"],
                    row["r"],
                    row["cp_flag"]
                ),
                axis=1
            )
            od.loc[idx, "moneyness"] = np.log10(F / od_TTM["strike_price"])
            
            
    # Print progress
    elapsed_time = time.time() - start_time
    sys.stdout.write(f"\rRunning date: {current_date} | Tickers: {len(tickers_date)} | Time elapsed: {elapsed_time:.2f} seconds")
    sys.stdout.flush()

Running date: 2000-07-03 00:00:00 | Tickers: 8 | Time elapsed: 24.50 seconds

KeyboardInterrupt:

In [124]:
importlib.reload(vp)
importlib.reload(load_clean_lib)
import sys
import time

# record the code duration
start_time = time.time()

# loop through all dates
for current_date in od["date"].unique():
    # Current day asset data
    
    # select current date data
    od_date = od[od["date"] == current_date]
    FW_date = FW[FW["date"] == current_date]
    ZCY_date = ZCY_curves[ZCY_curves['date'] == current_date]

    tickers_date = od_date["ticker"].unique()

    # Current day Zero Cupon curve
    if ZCY_date.empty:
        print(f"No yield data available: {current_date} (interpolating)")
        ZCY_date = vp.interpolate_yield_curve_between_dates(ZCY_curves, current_date)

    # loop through all tickers for the date
    for current_ticker in tickers_date:        
        # two functions to get and set info in summary_dly_df
        def get(info):
            return summary_dly_df.at[(current_ticker, current_date), info]        
        def set(info, value, reason = None):
            summary_dly_df.at[(current_ticker, current_date), info] = value
            if reason is not None:
                summary_dly_df.at[(current_ticker, current_date), "Inactive reason"] = reason

        # select current ticker date data
        od_ticker = od_date[od_date["ticker"] == current_ticker]
        FW_ticker = FW_date[FW_date["ticker"] == current_ticker]
        days_ticker = od_ticker["days"].unique()
        set("#days", value = len(days_ticker)) # report number of unique dates for ticker on date
        
        # remove tickers that has less than two unique dates
        if len(days_ticker) < 2:
            set("Active", value = False, reason = "unique(_days) < 2") # False
            # print(f"skipped {current_ticker} for {current_date} due to no data available.")
            continue

        # remove tickers that has no dates within 90 days til expiration        
        if min(days_ticker) > 90:
            set("Active", value = False, reason = "min days > 90") # False
            print(f"skipped {current_ticker} for {current_date} due to min(days) > 90")
            continue
        
        # select two shortest dates that are above 7 days (skip first only if multiple)
        days_ticker = sorted(days_ticker)
        low_2_days = days_ticker[:2]
        if low_2_days[0] <= 8:
            if len(days_ticker) < 3:
                set("Active", value = False, reason = "min days <= 8 & len < 3") # False
                continue
            low_2_days = days_ticker[1:3]
        
        # report two selected days
        set("low days", value = low_2_days[0])
        set("high days", value = low_2_days[1])
        
        # report current date to be active for current ticker, if at least 3 unique strikes. Otherwise inactive
        set("Active", value = True, reason = "")
        for days, high_low in zip(low_2_days, ["low", "high"]): # loops through the highest and lowest days til expiration. e.g. 15 days ("low") and 32 days ("high").
            number_of_K = (od_ticker[od_ticker["days"] == days]["strike_price"]).nunique()
            set(f"{high_low} #K", value = number_of_K)
            if number_of_K < 3:
                set("Active", value = False, reason = f"unique(K) < 3")
        if not get("Active"):
            continue   # if not active
        
        # loop through the two selected dates
        for days in low_2_days:
            TTM = days / 365.0
            # if days > 100: break
            
            # select TTM data (only the given days til expiration)
            od_TTM = od_ticker[od_ticker["days"] == days]
            
            # interpolate the interest rate and forward rate
            r = vp.interpolated_ZCY(ZCY_date, days)
            F = vp.interpolated_FW(FW_ticker, days)
            
            # IV = T_data["IV"]["impl_volatility"] #smile, would need to be interpolated            
            # K = T_data["od"]["strike_price"]
            # IV = T_data["od"]["impl_volatility"]
            # cp_flag = T_data["od"]["cp_flag"]
            # option_prices = vp.BSM(F, K, days, IV, r, cp_flag)
        
            # original slice where days match (idx: od_TTM -> od)
            idx = od_TTM.index

            # modify the original DataFrame in place
            od.loc[idx, "IV_option_price"] = od_TTM.apply(
                lambda row: vp.BSM(
                    F,
                    row["strike_price"],
                    TTM,
                    row["impl_volatility"],
                    r,
                    row["cp_flag"]
                ),
                axis=1
            )
            od.loc[idx, "moneyness"] = np.log10(F / od_TTM["strike_price"])
            
            
    # Print progress
    elapsed_time = time.time() - start_time
    sys.stdout.write(f"\rRunning date: {current_date} | Tickers: {len(tickers_date)} | Time elapsed: {elapsed_time:.2f} seconds")
    sys.stdout.flush()

0.05720860600000001
0.056719222
0.05720860600000001
0.056719222
0.05720860600000001
0.056719222
0.05720860600000001
0.056719222
0.05720860600000001
0.056719222
0.05720860600000001
0.056719222
Running date: 1996-01-04 00:00:00 | Tickers: 6 | Time elapsed: 0.11 seconds0.05722388228571428
0.05671365028571428
0.05722388228571428
0.05671365028571428
0.05722388228571428
0.05671365028571428
0.05722388228571428
0.05671365028571428
0.05722388228571428
0.05671365028571428
0.05722388228571428
0.05671365028571428
Running date: 1996-01-05 00:00:00 | Tickers: 6 | Time elapsed: 0.22 seconds0.05697607923076923
0.05685371777777778
0.05697607923076923
0.05685371777777778
0.05697607923076923
0.05685371777777778
0.05697607923076923
0.05685371777777778
0.05697607923076923
0.05685371777777778
0.05697607923076923
0.05685371777777778
Running date: 1996-01-08 00:00:00 | Tickers: 6 | Time elapsed: 0.34 seconds0.05726993400000001
0.05685795888888889
0.05726993400000001
0.05685795888888889
0.05726993400000001
0.05685795888888889
0.05726993400000001
0.05685795888888889
0.05726993400000001
0.05685795888888889
0.05726993400000001
0.05685795888888889
Running date: 1996-01-09 00:00:00 | Tickers: 6 | Time elapsed: 0.45 seconds0.056984834166666665
0.05686273
0.056984834166666665
0.05686273
0.056984834166666665
0.05686273
0.056984834166666665
0.05686273
0.056984834166666665
0.05686273
0.056984834166666665
0.05686273
Running date: 1996-01-10 00:00:00 | Tickers: 6 | Time elapsed: 0.56 seconds0.05732951333333333
0.056866896666666666
0.05732951333333333
0.056866896666666666
0.05732951333333333
0.056866896666666666
0.05732951333333333
0.056866896666666666
0.05732951333333333
0.056866896666666666
0.05732951333333333
0.056866896666666666
Running date: 1996-01-11 00:00:00 | Tickers: 6 | Time elapsed: 0.68 seconds0.056871278
0.05624900428571429
0.056871278
0.055725387252747255
0.056871278
0.055725387252747255
0.056871278
0.05624900428571429
0.056871278
0.05624900428571429
0.056871278
0.05624900428571429
Running date: 1996-01-12 00:00:00 | Tickers: 6 | Time elapsed: 0.79 seconds0.056884882
0.05619217571428571
0.056884882
0.055642480989010985
0.056884882
0.055642480989010985
0.056884882
0.05619217571428571
0.056884882
0.05619217571428571
0.056884882
0.05619217571428571
Running date: 1996-01-15 00:00:00 | Tickers: 6 | Time elapsed: 0.91 seconds0.05688843080000001
0.05609474857142857
0.05688843080000001
0.05532464333333333
0.05688843080000001
0.05532464333333333
0.05688843080000001
0.05609474857142857
0.05688843080000001
0.05609474857142857
0.05688843080000001
0.05609474857142857
Running date: 1996-01-16 00:00:00 | Tickers: 6 | Time elapsed: 1.02 seconds0.0567818025
0.05600293428571429
0.0567818025
0.05516059000000001
0.0567818025
0.05516059000000001
0.0567818025
0.05600293428571429
0.0567818025
0.05600293428571429
0.0567818025
0.05600293428571429
Running date: 1996-01-17 00:00:00 | Tickers: 6 | Time elapsed: 1.13 seconds0.056682723913043485
0.055812287142857145
0.056682723913043485
0.05491778190476191
0.056682723913043485
0.05491778190476191
0.056682723913043485
0.055812287142857145
0.056682723913043485
0.055812287142857145
0.056682723913043485
0.055812287142857145
Running date: 1996-01-18 00:00:00 | Tickers: 6 | Time elapsed: 1.24 seconds0.056426239090909096
0.055646504285714285
0.056426239090909096
0.054815213333333335
0.056426239090909096
0.054815213333333335
0.056426239090909096
0.055646504285714285
0.056426239090909096
0.055646504285714285
0.056426239090909096
0.055646504285714285
Running date: 1996-01-19 00:00:00 | Tickers: 6 | Time elapsed: 1.36 seconds0.05650001714285715
0.05574451428571429
0.05650001714285715
0.05574451428571429
0.05650001714285715
0.05574451428571429
0.05650001714285715
0.05574451428571429
0.05650001714285715
0.05574451428571429
0.05650001714285715
0.05574451428571429
Running date: 1996-01-22 00:00:00 | Tickers: 6 | Time elapsed: 1.47 seconds0.056513164
0.05569612
0.056513164
0.05569612
0.056513164
0.05569612
0.056513164
0.05569612
0.056513164
0.05569612
0.056513164
0.05569612
Running date: 1996-01-23 00:00:00 | Tickers: 6 | Time elapsed: 1.58 seconds0.05652703789473684
0.05568916571428572
0.05652703789473684
0.05568916571428572
0.05652703789473684
0.05568916571428572
0.05652703789473684
0.05568916571428572
0.05652703789473684
0.05568916571428572
0.05652703789473684
0.05568916571428572
Running date: 1996-01-24 00:00:00 | Tickers: 6 | Time elapsed: 1.69 seconds0.05629786
0.055649677142857144
0.05629786
0.055649677142857144
0.05629786
0.055649677142857144
0.05629786
0.055649677142857144
0.05629786
0.055649677142857144
0.05629786
0.055649677142857144
Running date: 1996-01-25 00:00:00 | Tickers: 6 | Time elapsed: 1.80 seconds0.056354456
0.05552735428571428
0.056354456
0.05552735428571428
0.056354456
0.05552735428571428
0.056354456
0.05552735428571428
0.056354456
0.05552735428571428
0.056354456
0.05552735428571428
Running date: 1996-01-26 00:00:00 | Tickers: 6 | Time elapsed: 1.91 seconds0.056372915714285717
0.05542473571428571
0.056372915714285717
0.05542473571428571
0.056372915714285717
0.05542473571428571
0.056372915714285717
0.05542473571428571
0.056372915714285717
0.05542473571428571
0.056372915714285717
0.05542473571428571
Running date: 1996-01-29 00:00:00 | Tickers: 6 | Time elapsed: 2.03 seconds0.055587584615384614
0.05485685428571428
0.055587584615384614
0.05485685428571428
0.055587584615384614
0.05485685428571428
0.055587584615384614
0.05485685428571428
0.055587584615384614
0.05485685428571428
0.055587584615384614
0.05485685428571428
Running date: 1996-01-30 00:00:00 | Tickers: 6 | Time elapsed: 2.14 seconds0.055064126666666664
0.05440083285714286
0.055064126666666664
0.05440083285714286
0.055064126666666664
0.05440083285714286
0.055064126666666664
0.05440083285714286
0.055064126666666664
0.05440083285714286
0.055064126666666664
0.05440083285714286
Running date: 1996-01-31 00:00:00 | Tickers: 6 | Time elapsed: 2.25 seconds0.05443151222222222
0.053970024285714284
0.05443151222222222
0.053970024285714284
0.05443151222222222
0.053970024285714284
0.05443151222222222
0.053970024285714284
0.05443151222222222
0.053970024285714284
0.05443151222222222
0.053970024285714284
Running date: 1996-02-01 00:00:00 | Tickers: 6 | Time elapsed: 2.36 seconds0.054435555
0.05391097142857142
0.054435555
0.05391097142857142
0.054435555
0.05391097142857142
0.054435555
0.05391097142857142
0.054435555
0.05391097142857142
0.054435555
0.05391097142857142
Running date: 1996-02-02 00:00:00 | Tickers: 6 | Time elapsed: 2.47 seconds0.05444760857142857
0.05388183428571428
0.05444760857142857
0.05388183428571428
0.05444760857142857
0.05388183428571428
0.05444760857142857
0.05388183428571428
0.05444760857142857
0.05388183428571428
0.05444760857142857
0.05388183428571428
Running date: 1996-02-05 00:00:00 | Tickers: 6 | Time elapsed: 2.57 seconds0.05415685
0.05371036428571428
0.05415685
0.05371036428571428
0.05415685
0.05371036428571428
0.05415685
0.05371036428571428
0.05415685
0.05371036428571428
0.05415685
0.05371036428571428
Running date: 1996-02-06 00:00:00 | Tickers: 6 | Time elapsed: 2.68 seconds0.054139816
0.05368068571428572
0.054139816
0.05368068571428572
0.054139816
0.05368068571428572
0.054139816
0.05368068571428572
0.054139816
0.05368068571428572
0.054139816
0.05368068571428572
Running date: 1996-02-07 00:00:00 | Tickers: 6 | Time elapsed: 2.79 seconds0.05380265999999999
0.053539188571428566
0.05380265999999999
0.053539188571428566
0.05380265999999999
0.053539188571428566
0.05380265999999999
0.053539188571428566
0.05380265999999999
0.053539188571428566
Running date: 1996-02-08 00:00:00 | Tickers: 6 | Time elapsed: 2.89 seconds0.05346465285714285
0.05194919186813187
0.05346465285714285
0.05298835095238095
0.05346465285714285
0.05298835095238095
0.05346465285714285
0.05298835095238095
0.05346465285714285
0.05298835095238095
0.05346465285714285
0.05298835095238095
Running date: 1996-02-09 00:00:00 | Tickers: 6 | Time elapsed: 3.00 seconds0.05372759666666667
0.05186031329670329
0.05372759666666667
0.0530529580952381
0.05372759666666667
0.0530529580952381
0.05372759666666667
0.0530529580952381
0.05372759666666667
0.0530529580952381
0.05372759666666667
0.0530529580952381
Running date: 1996-02-12 00:00:00 | Tickers: 6 | Time elapsed: 3.12 seconds0.053731206000000004
0.051774603186813185
0.053731206000000004
0.052999811904761905
0.053731206000000004
0.052999811904761905
0.053731206000000004
0.052999811904761905
0.053731206000000004
0.052999811904761905
0.053731206000000004
0.052999811904761905
Running date: 1996-02-13 00:00:00 | Tickers: 6 | Time elapsed: 3.23 seconds0.05376109666666667
0.051812716263736264
0.05376109666666667
0.05299315857142857
0.05376109666666667
0.05299315857142857
0.05376109666666667
0.05299315857142857
0.05376109666666667
0.05299315857142857
0.05376109666666667
0.05299315857142857
Running date: 1996-02-14 00:00:00 | Tickers: 6 | Time elapsed: 3.35 seconds0.05378158727272728
0.05194747791208792
0.05378158727272728
0.05307791380952381
0.05378158727272728
0.05307791380952381
0.05378158727272728
0.05307791380952381
0.05378158727272728
0.05307791380952381
0.05378158727272728
0.05307791380952381
Running date: 1996-02-15 00:00:00 | Tickers: 6 | Time elapsed: 3.46 seconds0.05379975636363637
0.052110778241758235
0.05379975636363637
0.05312244714285714
0.05379975636363637
0.05312244714285714
0.05379975636363637
0.05312244714285714
0.05379975636363637
0.05312244714285714
0.05379975636363637
0.05312244714285714
Running date: 1996-02-16 00:00:00 | Tickers: 6 | Time elapsed: 3.57 seconds0.053761105999999996
0.05379828857142857
0.053761105999999996
0.05379828857142857
0.053761105999999996
0.05379828857142857
0.053761105999999996
0.05379828857142857
0.053761105999999996
0.05379828857142857
0.053761105999999996
0.05379828857142857
Running date: 1996-02-20 00:00:00 | Tickers: 6 | Time elapsed: 3.69 seconds0.054001837894736844
0.0535624525
0.054001837894736844
0.0535624525
0.054001837894736844
0.0535624525
0.054001837894736844
0.0535624525
0.054001837894736844
0.0535624525
0.054001837894736844
0.0535624525
Running date: 1996-02-21 00:00:00 | Tickers: 6 | Time elapsed: 3.80 seconds0.0537711125
0.05328460000000001
0.0537711125
0.05328460000000001
0.0537711125
0.05328460000000001
0.0537711125
0.05328460000000001
0.0537711125
0.05328460000000001
0.0537711125
0.05328460000000001
Running date: 1996-02-22 00:00:00 | Tickers: 6 | Time elapsed: 3.92 seconds0.05377551533333333
0.0532822275
0.05377551533333333
0.0532822275
0.05377551533333333
0.0532822275
0.05377551533333333
0.0532822275
0.05377551533333333
0.0532822275
0.05377551533333333
0.0532822275
Running date: 1996-02-23 00:00:00 | Tickers: 6 | Time elapsed: 4.04 seconds0.05395349428571429
0.05341983714285714
0.05395349428571429
0.05341983714285714
0.05395349428571429
0.05341983714285714
0.05395349428571429
0.05341983714285714
0.05395349428571429
0.05341983714285714
0.05395349428571429
0.05341983714285714
Running date: 1996-02-26 00:00:00 | Tickers: 6 | Time elapsed: 4.16 seconds0.05397170153846154
0.05353935142857143
0.05397170153846154
0.05353935142857143
0.05397170153846154
0.05353935142857143
0.05397170153846154
0.05353935142857143
0.05397170153846154
0.05353935142857143
0.05397170153846154
0.05353935142857143
Running date: 1996-02-27 00:00:00 | Tickers: 6 | Time elapsed: 4.28 seconds0.05379651
0.053665464999999996
0.05379651
0.053665464999999996
0.05379651
0.053665464999999996
0.05379651
0.053665464999999996
0.05379651
0.053665464999999996
0.05379651
0.053665464999999996
Running date: 1996-02-28 00:00:00 | Tickers: 6 | Time elapsed: 4.40 seconds0.05380211555555556
0.05366545607142857
0.05380211555555556
0.05366545607142857
0.05380211555555556
0.05366545607142857
0.05380211555555556
0.05366545607142857
0.05380211555555556
0.05366545607142857
0.05380211555555556
0.05366545607142857
Running date: 1996-02-29 00:00:00 | Tickers: 6 | Time elapsed: 4.52 seconds0.053806465
0.0534015925
0.053806465
0.0534015925
0.053806465
0.0534015925
0.053806465
0.0534015925
0.053806465
0.0534015925
0.053806465
0.0534015925
Running date: 1996-03-01 00:00:00 | Tickers: 6 | Time elapsed: 4.64 seconds0.054087472857142854
0.05339758142857143
0.054087472857142854
0.05339758142857143
0.054087472857142854
0.05339758142857143
0.054087472857142854
0.05339758142857143
0.054087472857142854
0.05339758142857143
0.054087472857142854
0.05339758142857143
Running date: 1996-03-04 00:00:00 | Tickers: 6 | Time elapsed: 4.76 seconds0.05382219333333333
0.05338709178571429
0.05382219333333333
0.05338709178571429
0.05382219333333333
0.05338709178571429
0.05382219333333333
0.05338709178571429
0.05382219333333333
0.05338709178571429
0.05382219333333333
0.05338709178571429
Running date: 1996-03-05 00:00:00 | Tickers: 6 | Time elapsed: 4.88 seconds0.05382628799999999
0.05351242678571429
0.05382628799999999
0.05351242678571429
0.05382628799999999
0.05351242678571429
0.05382628799999999
0.05351242678571429
0.05382628799999999
0.05351242678571429
0.05382628799999999
0.05351242678571429
Running date: 1996-03-06 00:00:00 | Tickers: 6 | Time elapsed: 4.99 seconds0.05383193999999999
0.05350740642857143
0.05383193999999999
0.05350740642857143
0.05383193999999999
0.05350740642857143
0.05383193999999999
0.05350740642857143
0.05383193999999999
0.05350740642857143
0.05383193999999999
0.05350740642857143
Running date: 1996-03-07 00:00:00 | Tickers: 6 | Time elapsed: 5.12 seconds0.05418545428571429
0.054303312637362634
0.05418545428571429
0.05435849725274725
0.05418545428571429
0.05435849725274725
0.05418545428571429
0.054246739428571424
0.05418545428571429
0.054246739428571424
0.05418545428571429
0.054246739428571424
Running date: 1996-03-08 00:00:00 | Tickers: 6 | Time elapsed: 5.23 seconds0.05434591857142857
0.054293859780219784
0.05434591857142857
0.0543066443956044
0.05434591857142857
0.0543066443956044
0.05434591857142857
0.05433637571428571
0.05434591857142857
0.05433637571428571
0.05434591857142857
0.05433637571428571
Running date: 1996-03-11 00:00:00 | Tickers: 6 | Time elapsed: 5.34 seconds0.05434975928571428
0.05436811527472528
0.05434975928571428
0.05439980450549451
0.05434975928571428
0.05439980450549451
0.05434975928571428
0.05434456
0.05434975928571428
0.05434456
0.05434975928571428
0.05434456
Running date: 1996-03-12 00:00:00 | Tickers: 6 | Time elapsed: 5.45 seconds0.05435840107142857
0.05439808978021979
0.05435840107142857
0.0544254343956044
0.05435840107142857
0.0544254343956044
0.05435840107142857
0.05439013142857143
0.05435840107142857
0.05439013142857143
0.05435840107142857
0.05439013142857143
Running date: 1996-03-13 00:00:00 | Tickers: 6 | Time elapsed: 5.56 seconds0.054381362142857145
0.054342495274725275
0.054381362142857145
0.05436326450549451
0.054381362142857145
0.05436326450549451
0.054381362142857145
0.05435888485714286
0.054381362142857145
0.05435888485714286
0.054381362142857145
0.05435888485714286
Running date: 1996-03-14 00:00:00 | Tickers: 6 | Time elapsed: 5.68 seconds0.05446633035714286
0.054865052197802196
0.05446633035714286
0.05492816604395604
0.05446633035714286
0.05492816604395604
0.05446633035714286
0.054725682000000005
0.05446633035714286
0.054725682000000005
0.05446633035714286
0.054725682000000005
Running date: 1996-03-15 00:00:00 | Tickers: 6 | Time elapsed: 5.79 seconds0.054648718928571434
0.054841906
0.054648718928571434
0.054841906
0.054648718928571434
0.054841906
0.054648718928571434
0.054841906
0.054648718928571434
0.054841906
0.054648718928571434
0.054841906
Running date: 1996-03-18 00:00:00 | Tickers: 6 | Time elapsed: 5.90 seconds0.05465068392857143
0.05484298628571429
0.05465068392857143
0.05484298628571429
0.05465068392857143
0.05484298628571429
0.05465068392857143
0.05484298628571429
0.05465068392857143
0.05484298628571429
Running date: 1996-03-19 00:00:00 | Tickers: 6 | Time elapsed: 6.00 seconds0.0546664725
0.05470300657142858
0.0546664725
0.05470300657142858
0.0546664725
0.05470300657142858
0.0546664725
0.05470300657142858
0.0546664725
0.05470300657142858
0.0546664725
0.05470300657142858
Running date: 1996-03-20 00:00:00 | Tickers: 6 | Time elapsed: 6.12 seconds0.05507536
0.05490553628571428
0.05507536
0.05490553628571428
0.05507536
0.05490553628571428
0.05507536
0.05490553628571428
0.05507536
0.05490553628571428
0.05507536
0.05490553628571428
Running date: 1996-03-21 00:00:00 | Tickers: 6 | Time elapsed: 6.23 seconds0.05501911499999999
0.05487466314285715
0.05501911499999999
0.05487466314285715

KeyboardInterrupt:

In [46]:
# od_TTM
# F

In [48]:
od_TTM

,secid,date,exdate,cp_flag,strike_price,best_bid,best_offer,volume,impl_volatility,ticker,n_trading_day,days,spread,IV_option_price,moneyness
2851974,109764,2003-02-28,2003-04-19,C,510.0,0.30,0.45,0,0.247765,OEX,1800,50,0.15,NaN,NaN
2851975,109764,2003-02-28,2003-04-19,C,515.0,0.05,0.35,0,0.235862,OEX,1800,50,0.30,NaN,NaN
2851980,109764,2003-02-28,2003-04-19,C,500.0,0.35,0.65,0,0.236495,OEX,1800,50,0.30,NaN,NaN
2852009,109764,2003-02-28,2003-04-19,P,510.0,85.20,87.20,0,0.317292,OEX,1800,50,2.00,NaN,NaN
2852010,109764,2003-02-28,2003-04-19,P,515.0,90.20,92.20,0,0.330611,OEX,1800,50,2.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2852205,109764,2003-02-28,2003-04-19,P,470.0,47.80,49.30,0,0.270652,OEX,1800,50,1.50,NaN,NaN
2852206,109764,2003-02-28,2003-04-19,P,475.0,51.90,53.90,0,0.271504,OEX,1800,50,2.00,NaN,NaN
2852207,109764,2003-02-28,2003-04-19,P,480.0,56.50,58.50,0,0.276923,OEX,1800,50,2.00,NaN,NaN
2852208,109764,2003-02-28,2003-04-19,P,490.0,65.80,67.80,0,0.285431,OEX,1800,50,2.00,NaN,NaN
2852209,109764,2003-02-28,2003-04-19,P,400.0,8.90,9.60,459,0.316484,OEX,1800,50,0.70,NaN,NaN

In [47]:
F

425.066304

In [49]:
# summary_dly_df