In [26]:
import pandas as pd
import numpy as np
from pandas.core.interchange.dataframe_protocol import DataFrame
from pygments.lexer import bygroups

import volpy_func_lib as vp
import load_clean_lib
import importlib
from datetime import datetime
import matplotlib.pyplot as plt

from volpy_func_lib import load_forward_price

In [27]:
importlib.reload(vp)
importlib.reload(load_clean_lib)

# Lav Data

## Load, Clean and Prepare data

In [28]:
# Load data
profile = "Mads"
dataset = "i4s4"
od, FW, ZCY_curves = load_clean_lib.load_od_FW_ZCY(profile, dataset)


# first_day = pd.to_datetime("1996-01-04")
# last_day = pd.to_datetime("1997-01-01")
first_day = pd.to_datetime("1996-01-04")
# first_day = pd.to_datetime("2002-01-04")
last_day = pd.to_datetime("2003-02-28")
# last_day = pd.to_datetime("1996-05-01")

# Clean data
od = load_clean_lib.clean_od(od, first_day = first_day, last_day = last_day)

### Add FW to options

In [29]:
od = vp.add_FW_to_od(od, FW)

### remove if ITM

In [30]:
od = od.loc[
    ((od["F"] < od["K"]) & (od["cp_flag"] == "C")) | ((od["F"] > od["K"]) & (od["cp_flag"] == "P"))
]

### Add r to options

In [31]:
od = vp.add_r_to_od(od, ZCY_curves)

## Add low/high and create summary (Filters dataset for criteria such as min 3 strikes ... min 8 days...)

In [32]:
# Process each (date, ticker) group and collect summary information
summary_list = []
processed_groups = []
for (current_date, current_ticker), group in od.groupby(["date", "ticker"]):
    proc_group, summary = vp.process_group_activity_summary(group)
    summary["date"] = current_date
    summary["ticker"] = current_ticker
    summary_list.append(summary)
    processed_groups.append(proc_group)

# Recombine all groups back into the od DataFrame
od = pd.concat(processed_groups)

# Update summary_dly_df (indexed by (ticker, date)) using the gathered summary information
summary_df = pd.DataFrame(summary_list).set_index(["ticker", "date"])

# Make dataset for results for each day for each asset
summary_dly_df = load_clean_lib.summary_dly_df_creator(od)
summary_dly_df.update(summary_df)

### only keep the lowest and the second lowest ("high") TTMs

In [33]:
od_rdy = od[(od["low"] == True) | (od["high"] == True)]

## Calculate swap rate

In [34]:
importlib.reload(vp)
importlib.reload(load_clean_lib)

In [37]:
summary_dly_df = vp.fill_swap_rates(summary_dly_df, od_rdy, n_points=200)

Processing Groups: 100%|██████████| 26686/26686 [13:30<00:00, 32.91it/s]

## Save as CSV

In [38]:
summary_dly_df.to_csv("data/summary_dly_df_v2.csv")
od_rdy.to_csv("data/od_rdy_v2.csv")

In [ ]:
summary_dly_df.to_csv("data/summary_dly_df.csv")
od_rdy.to_csv("data/od_rdy.csv")

# Load CSV

In [5]:
summary_dly_df = pd.read_csv("data/summary_dly_df.csv")
od_rdy = pd.read_csv("data/od_rdy.csv")

In [6]:
summary_dly_df

,Ticker,Date,#days,low days,high days,low #K,high #K,low SW,high SW,Active,Inactive reason
0,GE,1996-01-04,4.0,16.0,44.0,2.0,4.0,NaN,NaN,False,unique(K) < 3
1,GE,1996-01-05,4.0,15.0,43.0,2.0,4.0,NaN,NaN,False,unique(K) < 3
2,GE,1996-01-08,4.0,12.0,40.0,3.0,4.0,10.755724,6.849246,True,NaN
3,GE,1996-01-09,4.0,11.0,39.0,2.0,4.0,NaN,NaN,False,unique(K) < 3
4,GE,1996-01-10,4.0,10.0,38.0,3.0,4.0,10.606864,7.341032,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...
14403,AMZN,2003-02-24,5.0,26.0,54.0,4.0,7.0,33.356329,49.808785,True,NaN
14404,AMZN,2003-02-25,5.0,25.0,53.0,5.0,5.0,45.297606,40.968534,True,NaN
14405,AMZN,2003-02-26,5.0,24.0,52.0,5.0,6.0,44.528532,40.919518,True,NaN
14406,AMZN,2003-02-27,5.0,23.0,51.0,4.0,6.0,31.209627,38.491318,True,NaN
14407,AMZN,2003-02-28,5.0,22.0,50.0,3.0,6.0,23.592182,39.356098,True,NaN

### Keep only active days

In [10]:
filtered_df = summary_dly_df[~summary_dly_df["low SW"].isna()]

### Full period analysis

In [51]:
T = 30
t = 0
T1 = summary_dly_df["low days"]
T2 = summary_dly_df["high days"]
SW1 = summary_dly_df["low SW"]
SW2 = summary_dly_df["high SW"]

summary_dly_df["SW"] = (1/(T-t)) * (SW1 * (T1-t) * (T2-T) + SW2 * (T2 - t) * (T - T1)) / (T2 - T1)

In [52]:
import numpy as np

# Select only the numeric columns in the DataFrame.
numeric_cols = summary_dly_df.select_dtypes(include=[np.number]).columns

# Filter rows where "low SW" is not NaN, group by "Ticker", and calculate the mean for numeric columns.
avg_by_ticker = summary_dly_df[~summary_dly_df["low SW"].isna()].groupby("Ticker")[numeric_cols].mean()
avg_by_ticker

,#days,low days,high days,low #K,high #K,low SW,high SW,SW
Ticker,,,,,,,,
AMZN,4.033307,23.758128,62.854877,11.880254,15.962728,1.003961,0.978818,1.015770
DJX,5.850295,23.362832,53.561947,17.850295,18.008850,0.065105,0.067175,0.065260
GE,4.591778,23.635785,61.432542,5.697742,7.723798,0.127088,0.121009,0.124122
IBM,4.106229,23.354839,62.072859,9.722469,12.868743,0.163164,0.151368,0.159224
MSFT,4.105673,23.356507,62.078420,8.860400,12.284205,0.186210,0.179498,0.184226
NDX,4.696835,23.337590,53.949473,37.039423,36.615769,0.176860,0.172974,0.175492
OEX,4.479178,23.337590,53.588007,33.555802,30.267074,0.060215,0.061305,0.060745
SPX,5.829539,23.337590,53.603554,33.886174,29.960022,0.058055,0.058551,0.058166

In [61]:
avg_by_ticker

,#days,low days,high days,low #K,high #K,low SW,high SW,SW
Ticker,,,,,,,,
AMZN,4.033307,23.758128,62.854877,11.880254,15.962728,1.003961,0.978818,1.015770
DJX,5.850295,23.362832,53.561947,17.850295,18.008850,0.065105,0.067175,0.065260
GE,4.591778,23.635785,61.432542,5.697742,7.723798,0.127088,0.121009,0.124122
IBM,4.106229,23.354839,62.072859,9.722469,12.868743,0.163164,0.151368,0.159224
MSFT,4.105673,23.356507,62.078420,8.860400,12.284205,0.186210,0.179498,0.184226
NDX,4.696835,23.337590,53.949473,37.039423,36.615769,0.176860,0.172974,0.175492
OEX,4.479178,23.337590,53.588007,33.555802,30.267074,0.060215,0.061305,0.060745
SPX,5.829539,23.337590,53.603554,33.886174,29.960022,0.058055,0.058551,0.058166

In [59]:
summary_dly_df[~summary_dly_df["low SW"].isna()].groupby("Ticker")[numeric_cols].count()["SW"]

Ticker
AMZN    1261
DJX     1356
GE      1727
IBM     1798
MSFT    1798
NDX     1801
OEX     1801
SPX     1801
Name: SW, dtype: int64

In [54]:
avg_by_ticker[["SW", "low SW", "high SW"]]*100

                SW      low SW    high SW
Ticker
AMZN    101.577048  100.396141  97.881762
DJX       6.526043    6.510473   6.717516
GE       12.412184   12.708765  12.100932
IBM      15.922442   16.316446  15.136809
MSFT     18.422565   18.620974  17.949796
NDX      17.549235   17.686020  17.297400
OEX       6.074466    6.021474   6.130478
SPX       5.816576    5.805479   5.855129

In [13]:
avg_by_ticker = summary_dly_df[~summary_dly_df["low SW"].isna()].groupby("Ticker").mean()

TypeError: agg function failed [how->mean,dtype->object]

In [23]:
summary_dly_df.shape

(14408, 11)

In [22]:
summary_dly_df[~summary_dly_df["low SW"].isna()]

,Ticker,Date,#days,low days,high days,low #K,high #K,low SW,high SW,Active,Inactive reason
2,GE,1996-01-08,4.0,12.0,40.0,3.0,4.0,10.755724,6.849246,True,NaN
4,GE,1996-01-10,4.0,10.0,38.0,3.0,4.0,10.606864,7.341032,True,NaN
5,GE,1996-01-11,4.0,9.0,37.0,3.0,4.0,9.021875,7.082273,True,NaN
6,GE,1996-01-12,4.0,36.0,64.0,4.0,6.0,7.163207,8.143591,True,NaN
7,GE,1996-01-15,3.0,33.0,61.0,4.0,6.0,7.511532,8.254066,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...
14403,AMZN,2003-02-24,5.0,26.0,54.0,4.0,7.0,33.356329,49.808785,True,NaN
14404,AMZN,2003-02-25,5.0,25.0,53.0,5.0,5.0,45.297606,40.968534,True,NaN
14405,AMZN,2003-02-26,5.0,24.0,52.0,5.0,6.0,44.528532,40.919518,True,NaN
14406,AMZN,2003-02-27,5.0,23.0,51.0,4.0,6.0,31.209627,38.491318,True,NaN
14407,AMZN,2003-02-28,5.0,22.0,50.0,3.0,6.0,23.592182,39.356098,True,NaN

In [14]:
avg_by_ticker = summary_dly_df[~summary_dly_df["low SW"].isna()].groupby("Ticker").mean()
print(avg_by_ticker)

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
avg_by_ticker

In [12]:
for ticker, group in grouped:
    print(f"Ticker: {ticker}")
    print(group)

Ticker: AMZN
      Ticker        Date  #days  low days  high days  low #K  high #K  \
13084   AMZN  1997-11-20    4.0      30.0       58.0     4.0      4.0
13085   AMZN  1997-11-21    4.0      29.0       57.0     4.0      5.0
13086   AMZN  1997-11-24    4.0      26.0       54.0     4.0      5.0
13087   AMZN  1997-11-25    4.0      25.0       53.0     6.0      5.0
13088   AMZN  1997-11-26    4.0      24.0       52.0     3.0      4.0
...      ...         ...    ...       ...        ...     ...      ...
14403   AMZN  2003-02-24    5.0      26.0       54.0     4.0      7.0
14404   AMZN  2003-02-25    5.0      25.0       53.0     5.0      5.0
14405   AMZN  2003-02-26    5.0      24.0       52.0     5.0      6.0
14406   AMZN  2003-02-27    5.0      23.0       51.0     4.0      6.0
14407   AMZN  2003-02-28    5.0      22.0       50.0     3.0      6.0

           low SW     high SW  Active Inactive reason
13084  117.016026  156.312842    True             NaN
13085  120.121800  150.345869    True             NaN
13086  106.109348  142.040831    True             NaN
13087  107.606283  138.663032    True             NaN
13088   90.951019  130.731093    True             NaN
...           ...         ...     ...             ...
14403   33.356329   49.808785    True             NaN
14404   45.297606   40.968534    True             NaN
14405   44.528532   40.919518    True             NaN
14406   31.209627   38.491318    True             NaN
14407   23.592182   39.356098    True             NaN

[1261 rows x 11 columns]
Ticker: DJX
      Ticker        Date  #days  low days  high days  low #K  high #K  \
11250    DJX  1997-10-06    6.0      12.0       47.0     9.0     17.0
11251    DJX  1997-10-07    6.0      11.0       46.0     9.0     17.0
11252    DJX  1997-10-08    6.0      10.0       45.0     9.0     17.0
11253    DJX  1997-10-09    6.0       9.0       44.0     8.0     17.0
11254    DJX  1997-10-10    6.0      43.0       71.0    17.0      9.0
...      ...         ...    ...       ...        ...     ...      ...
12601    DJX  2003-02-21    5.0      29.0       57.0    23.0     16.0
12602    DJX  2003-02-24    6.0      26.0       54.0    23.0     24.0
12603    DJX  2003-02-25    6.0      25.0       53.0    22.0     25.0
12605    DJX  2003-02-27    6.0      23.0       51.0    21.0     25.0
12606    DJX  2003-02-28    6.0      22.0       50.0    19.0     24.0

          low SW    high SW  Active Inactive reason
11250   5.766304   5.918952    True             NaN
11251   5.489614   5.910469    True             NaN
11252   5.544204   5.661550    True             NaN
11253   5.663164   5.570553    True             NaN
11254   5.443684   6.199218    True             NaN
...          ...        ...     ...             ...
12601  13.659296  12.724162    True             NaN
12602  14.074278  12.292378    True             NaN
12603  14.782785  12.619326    True             NaN
12605  12.872792  12.390532    True             NaN
12606  12.412293  11.695940    True             NaN

[1356 rows x 11 columns]
Ticker: GE
     Ticker        Date  #days  low days  high days  low #K  high #K  \
2        GE  1996-01-08    4.0      12.0       40.0     3.0      4.0
4        GE  1996-01-10    4.0      10.0       38.0     3.0      4.0
5        GE  1996-01-11    4.0       9.0       37.0     3.0      4.0
6        GE  1996-01-12    4.0      36.0       64.0     4.0      6.0
7        GE  1996-01-15    3.0      33.0       61.0     4.0      6.0
...     ...         ...    ...       ...        ...     ...      ...
1795     GE  2003-02-21    4.0      29.0      120.0     4.0      8.0
1797     GE  2003-02-25    5.0      25.0       53.0     3.0      5.0
1798     GE  2003-02-26    5.0      24.0       52.0     3.0      5.0
1799     GE  2003-02-27    5.0      23.0       51.0     3.0      5.0
1800     GE  2003-02-28    5.0      22.0       50.0     3.0      5.0

         low SW    high SW  Active Inactive reason
2     10.755724   6.849246    True             NaN
4     10.606864   7.341032    True             NaN
5      9.021875   7.082273    True             NaN
6      7.163207   8.143591    True             NaN
7      7.511532   8.254066    True             NaN
...         ...        ...     ...             ...
1795  19.260904  23.361410    True             NaN
1797  21.153218  22.536206    True             NaN
1798  18.963142  22.477032    True             NaN
1799  20.013492  22.977741    True             NaN
1800  19.732934  21.587547    True             NaN

[1727 rows x 11 columns]
Ticker: IBM
     Ticker        Date  #days  low days  high days  low #K  high #K  \
1801    IBM  1996-01-04    4.0      16.0       44.0     7.0      6.0
1802    IBM  1996-01-05    4.0      15.0       43.0     6.0      6.0
1803    IBM  1996-01-08    4.0      12.0       40.0     6.0      6.0
1804    IBM  1996-01-09    4.0      11.0       39.0     6.0      6.0
1805    IBM  1996-01-10    4.0      10.0       38.0     6.0      6.0
...     ...         ...    ...       ...        ...     ...      ...
3597    IBM  2003-02-24    5.0      26.0       54.0     6.0     12.0
3598    IBM  2003-02-25    5.0      25.0       53.0     7.0     12.0
3599    IBM  2003-02-26    5.0      24.0       52.0     7.0     12.0
3600    IBM  2003-02-27    5.0      23.0       51.0     7.0     11.0
3601    IBM  2003-02-28    5.0      22.0       50.0     6.0     11.0

         low SW    high SW  Active Inactive reason
1801  24.098341  17.180209    True             NaN
1802  19.322706  15.479244    True             NaN
1803  21.481495  15.929204    True             NaN
1804  23.920605  16.423460    True             NaN
1805  25.056408  16.498633    True             NaN
...         ...        ...     ...             ...
3597  24.425988  30.594539    True             NaN
3598  22.757429  29.727993    True             NaN
3599  23.335912  29.958996    True             NaN
3600  22.536230  30.891156    True             NaN
3601  23.211671  30.513125    True             NaN

[1798 rows x 11 columns]
Ticker: MSFT
     Ticker        Date  #days  low days  high days  low #K  high #K  \
3602   MSFT  1996-01-04    4.0      16.0       44.0     7.0      6.0
3603   MSFT  1996-01-05    4.0      15.0       43.0     7.0      6.0
3604   MSFT  1996-01-08    4.0      12.0       40.0     7.0      6.0
3605   MSFT  1996-01-09    4.0      11.0       39.0     9.0      6.0
3606   MSFT  1996-01-10    4.0      10.0       38.0     8.0      6.0
...     ...         ...    ...       ...        ...     ...      ...
5398   MSFT  2003-02-24    5.0      26.0       54.0     6.0     10.0
5399   MSFT  2003-02-25    5.0      25.0       53.0     6.0     10.0
5400   MSFT  2003-02-26    5.0      24.0       52.0     6.0      9.0
5401   MSFT  2003-02-27    5.0      23.0       51.0     6.0      9.0
5402   MSFT  2003-02-28    5.0      22.0       50.0     6.0      9.0

         low SW    high SW  Active Inactive reason
3602  27.268084  24.506004    True             NaN
3603  26.471987  23.818231    True             NaN
3604  30.819640  25.581461    True             NaN
3605  53.918520  32.583996    True             NaN
3606  47.843428  29.246603    True             NaN
...         ...        ...     ...             ...
5398  23.879302  27.303630    True             NaN
5399  22.595184  26.876191    True             NaN
5400  23.094475  26.822236    True             NaN
5401  22.725051  26.142209    True             NaN
5402  21.932909  26.008837    True             NaN

[1798 rows x 11 columns]
Ticker: NDX
     Ticker        Date  #days  low days  high days  low #K  high #K  \
5403    NDX  1996-01-04    5.0      16.0       44.0    30.0     23.0
5404    NDX  1996-01-05    5.0      15.0       43.0    29.0     27.0
5405    NDX  1996-01-08    5.0      12.0       40.0    27.0     28.0
5406    NDX  1996-01-09    5.0      11.0       39.0    26.0     25.0
5407    NDX  1996-01-10    5.0      10.0       38.0    28.0     29.0
...     ...         ...    ...       ...        ...     ...      ...
7199    NDX  2003-02-24    5.0      26.0       54.0    20.0     31.0
7200    NDX  2003-02-25    5.0      25.0       53.0    20.0     30.0
7201    NDX  2003-02-26    5.0      24.0       52.0    19.0     30.0
7202    NDX  2003-02-27    5.0      23.0       51.0    19.0     30.0
7203    NDX  2003-02-28    5.0      22.0       50.0    19.0     30.0

         low SW    high SW  Active Inactive reason
5403  13.217916  10.331992    True             NaN
5404  11.818338  10.813861    True             NaN
5405  12.519471  10.807204    True             NaN
5406  19.543711  12.093724    True             NaN
5407  18.850296  12.719695    True             NaN
...         ...        ...     ...             ...
7199  22.809064  26.675416    True             NaN
7200  21.424082  24.971288    True             NaN
7201  22.481111  26.260943    True             NaN
7202  22.289354  25.232544    True             NaN
7203  21.794320  24.277554    True             NaN

[1801 rows x 11 columns]
Ticker: OEX
     Ticker        Date  #days  low days  high days  low #K  high #K  \
7204    OEX  1996-01-04    4.0      16.0       44.0    24.0     27.0
7205    OEX  1996-01-05    4.0      15.0       43.0    25.0     27.0
7206    OEX  1996-01-08    4.0      12.0       40.0    22.0     27.0
7207    OEX  1996-01-09    4.0      11.0       39.0    26.0     27.0
7208    OEX  1996-01-10    4.0      10.0       38.0    25.0     27.0
...     ...         ...    ...       ...        ...     ...      ...
9000    OEX  2003-02-24    5.0      26.0       54.0    36.0     33.0
9001    OEX  2003-02-25    5.0      25.0       53.0    32.0     33.0
9002    OEX  2003-02-26    5.0      24.0       52.0    31.0     33.0
9003    OEX  2003-02-27    5.0      23.0       51.0    30.0     33.0
9004    OEX  2003-02-28    5.0      22.0       50.0    28.0     32.0

         low SW    high SW  Active Inactive reason
7204   4.926881   3.229865    True             NaN
7205   5.046907   3.210770    True             NaN
7206   4.555264   3.206041    True             NaN
7207   7.900438   3.605205    True             NaN
7208   7.295832   3.503629    True             NaN
...         ...        ...     ...             ...
9000  14.830898  14.409168    True             NaN
9001  15.140900  14.483984    True             NaN
9002  15.270928  14.370842    True             NaN
9003  13.502121  13.736382    True             NaN
9004  11.817237  12.967629    True             NaN

[1801 rows x 11 columns]
Ticker: SPX
      Ticker        Date  #days  low days  high days  low #K  high #K  \
9005     SPX  1996-01-04    6.0      16.0       44.0    23.0     24.0
9006     SPX  1996-01-05    6.0      15.0       43.0    26.0     24.0
9007     SPX  1996-01-08    6.0      12.0       40.0    20.0     24.0
9008     SPX  1996-01-09    6.0      11.0       39.0    23.0     24.0
9009     SPX  1996-01-10    6.0      10.0       38.0    21.0     25.0
...      ...         ...    ...       ...        ...     ...      ...
10801    SPX  2003-02-24    6.0      26.0       54.0    34.0     18.0
10802    SPX  2003-02-25    6.0      25.0       53.0    35.0     18.0
10803    SPX  2003-02-26    6.0      24.0       52.0    37.0     17.0
10804    SPX  2003-02-27    6.0      23.0       51.0    36.0     18.0
10805    SPX  2003-02-28    6.0      22.0       50.0    36.0     19.0

          low SW    high SW  Active Inactive reason
9005    4.173622   2.658902    True             NaN
9006    4.804475   2.615028    True             NaN
9007    3.917779   2.597688    True             NaN
9008    6.853945   3.153664    True             NaN
9009    6.508771   3.152422    True             NaN
...          ...        ...     ...             ...
10801  14.105268  13.891391    True             NaN
10802  14.074730  14.219854    True             NaN
10803  14.048629  14.731011    True             NaN
10804  13.301468  13.711144    True             NaN
10805  13.089239  12.749389    True             NaN

[1801 rows x 11 columns]

# Done, rest is random stuff before clean ect.

# Be ready for the D ata

# Replicating option IV's

In [24]:
od

,secid,date,exdate,cp_flag,strike_price,best_bid,best_offer,volume,impl_volatility,ticker,n_trading_day,days,spread,F,r,low,high
0,105169,1996-01-04,1996-01-20,C,60.0,12.6250,13.1250,18,0.431174,GE,0,16,0.5000,72.874078,0.057209,True,False
1,105169,1996-01-04,1996-01-20,C,75.0,0.5000,0.5625,753,0.216178,GE,0,16,0.0625,72.874078,0.057209,True,False
2,105169,1996-01-04,1996-01-20,C,65.0,7.8750,8.0000,30,0.320320,GE,0,16,0.1250,72.874078,0.057209,True,False
3,105169,1996-01-04,1996-01-20,C,47.5,25.1250,25.6250,4,0.948733,GE,0,16,0.5000,72.874078,0.057209,True,False
4,105169,1996-01-04,1996-01-20,P,70.0,0.3125,0.3750,476,0.219093,GE,0,16,0.0625,72.874078,0.057209,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59264,108105,1996-05-01,1997-03-22,C,600.0,83.1250,84.1250,0,0.168632,SPX,82,325,1.0000,674.460867,0.057582,False,False
59265,108105,1996-05-01,1997-03-22,P,675.0,34.5000,35.5000,0,0.144289,SPX,82,325,1.0000,674.460867,0.057582,False,False
59266,108105,1996-05-01,1997-03-22,C,525.0,145.7500,146.7500,0,0.196454,SPX,82,325,1.0000,674.460867,0.057582,False,False
59267,108105,1996-05-01,1997-03-22,C,475.0,190.8750,191.8750,0,0.215242,SPX,82,325,1.0000,674.460867,0.057582,False,False
59268,108105,1996-05-01,1997-03-22,C,550.0,123.8750,124.8750,0,0.186079,SPX,82,325,1.0000,674.460867,0.057582,False,False

In [23]:
summary_dly_df

                   SwapRate  #days  low days  high days  low #K  high #K  \
Ticker Date
GE     1996-01-04       NaN    4.0      16.0       44.0     9.0      4.0
       1996-01-05       NaN    4.0      15.0       43.0     5.0      4.0
       1996-01-08       NaN    4.0      12.0       40.0     4.0      4.0
       1996-01-09       NaN    4.0      11.0       39.0     3.0      4.0
       1996-01-10       NaN    4.0      10.0       38.0     8.0      4.0
...                     ...    ...       ...        ...     ...      ...
SPX    1996-04-25       NaN    6.0      23.0       58.0    25.0     35.0
       1996-04-26       NaN    6.0      22.0       57.0    26.0     35.0
       1996-04-29       NaN    6.0      19.0       54.0    26.0     35.0
       1996-04-30       NaN    6.0      18.0       53.0    25.0     34.0
       1996-05-01       NaN    6.0      17.0       52.0    25.0     34.0

                   Active Inactive reason
Ticker Date
GE     1996-01-04    True
       1996-01-05    True
       1996-01-08    True
       1996-01-09    True
       1996-01-10    True
...                   ...             ...
SPX    1996-04-25    True
       1996-04-26    True
       1996-04-29    True
       1996-04-30    True
       1996-05-01    True

[498 rows x 8 columns]

In [156]:
importlib.reload(vp)
importlib.reload(load_clean_lib)
import sys
import time

# record the code duration
start_time = time.time()

# loop through all dates
for current_date in od["date"].unique():
    # select current date data
    od_date = od[od["date"] == current_date]
    tickers_date = od_date["ticker"].unique()

    # loop through all tickers for the date
    for current_ticker in tickers_date:    
        # select current ticker date data
        od_ticker = od_date[od_date["ticker"] == current_ticker]

        # two functions to get and set info in summary_dly_df
        def get(info):
            return summary_dly_df.at[(current_ticker, current_date), info]        
        def set(info, value, reason = None):
            summary_dly_df.at[(current_ticker, current_date), info] = value
            if reason is not None:
                summary_dly_df.at[(current_ticker, current_date), "Inactive reason"] = reason

        days_ticker = od_ticker["days"].unique()
        set("#days", value = len(days_ticker)) # report number of unique dates for ticker on date
        
        # remove tickers that has less than two unique dates
        if len(days_ticker) < 2:
            set("Active", value = False, reason = "unique(_days) < 2") # False
            # print(f"skipped {current_ticker} for {current_date} due to no data available.")
            continue

        # remove tickers that has no dates within 90 days til expiration        
        if min(days_ticker) > 90:
            set("Active", value = False, reason = "min days > 90") # False
            print(f"skipped {current_ticker} for {current_date} due to min(days) > 90")
            continue
        
        # select two shortest dates that are above 7 days (skip first only if multiple)
        days_ticker = sorted(days_ticker)
        low_2_days = days_ticker[:2]
        if low_2_days[0] <= 8:
            if len(days_ticker) < 3:
                set("Active", value = False, reason = "min days <= 8 & len < 3") # False
                continue
            low_2_days = days_ticker[1:3]
        
        # report two selected days
        set("low days", value = low_2_days[0])
        set("high days", value = low_2_days[1])
        
        # report current date to be active for current ticker, if at least 3 unique strikes. Otherwise inactive
        set("Active", value = True, reason = "")
        for days, high_low in zip(low_2_days, ["low", "high"]): # loops through the highest and lowest days til expiration. e.g. 15 days ("low") and 32 days ("high").
            number_of_K = (od_ticker[od_ticker["days"] == days]["strike_price"]).nunique()
            set(f"{high_low} #K", value = number_of_K)
            if number_of_K < 3:
                set("Active", value = False, reason = f"unique(K) < 3")
        if not get("Active"):
            continue   # if not active
        
        # loop through the two selected dates
        for days in low_2_days:
            TTM = days / 365.0
            # if days > 100: break

            # select TTM data (only the given days til expiration)
            od_TTM = od_ticker[od_ticker["days"] == days]

            # IV = T_data["IV"]["impl_volatility"] #smile, would need to be interpolated            
            # K = T_data["od"]["strike_price"]
            # IV = T_data["od"]["impl_volatility"]
            # cp_flag = T_data["od"]["cp_flag"]
            # option_prices = vp.BSM(F, K, days, IV, r, cp_flag)

            # original slice where days match (idx: od_TTM -> od)
            idx = od_TTM.index

            # modify the original DataFrame in place
            od.loc[idx, "IV_option_price"] = od_TTM.apply(
                lambda row: vp.BSM(
                    row["F"],
                    row["strike_price"],
                    TTM,
                    row["impl_volatility"],
                    row["r"],
                    row["cp_flag"]
                ),
                axis=1
            )
            od.loc[idx, "moneyness"] = np.log10(F / od_TTM["strike_price"])
            
            
    # Print progress
    elapsed_time = time.time() - start_time
    sys.stdout.write(f"\rRunning date: {current_date} | Tickers: {len(tickers_date)} | Time elapsed: {elapsed_time:.2f} seconds")
    sys.stdout.flush()

Running date: 2000-07-03 00:00:00 | Tickers: 8 | Time elapsed: 24.50 seconds

KeyboardInterrupt:

In [124]:
importlib.reload(vp)
importlib.reload(load_clean_lib)
import sys
import time

# record the code duration
start_time = time.time()

# loop through all dates
for current_date in od["date"].unique():
    # Current day asset data
    
    # select current date data
    od_date = od[od["date"] == current_date]
    FW_date = FW[FW["date"] == current_date]
    ZCY_date = ZCY_curves[ZCY_curves['date'] == current_date]

    tickers_date = od_date["ticker"].unique()

    # Current day Zero Cupon curve
    if ZCY_date.empty:
        print(f"No yield data available: {current_date} (interpolating)")
        ZCY_date = vp.interpolate_yield_curve_between_dates(ZCY_curves, current_date)

    # loop through all tickers for the date
    for current_ticker in tickers_date:        
        # two functions to get and set info in summary_dly_df
        def get(info):
            return summary_dly_df.at[(current_ticker, current_date), info]        
        def set(info, value, reason = None):
            summary_dly_df.at[(current_ticker, current_date), info] = value
            if reason is not None:
                summary_dly_df.at[(current_ticker, current_date), "Inactive reason"] = reason

        # select current ticker date data
        od_ticker = od_date[od_date["ticker"] == current_ticker]
        FW_ticker = FW_date[FW_date["ticker"] == current_ticker]
        days_ticker = od_ticker["days"].unique()
        set("#days", value = len(days_ticker)) # report number of unique dates for ticker on date
        
        # remove tickers that has less than two unique dates
        if len(days_ticker) < 2:
            set("Active", value = False, reason = "unique(_days) < 2") # False
            # print(f"skipped {current_ticker} for {current_date} due to no data available.")
            continue

        # remove tickers that has no dates within 90 days til expiration        
        if min(days_ticker) > 90:
            set("Active", value = False, reason = "min days > 90") # False
            print(f"skipped {current_ticker} for {current_date} due to min(days) > 90")
            continue
        
        # select two shortest dates that are above 7 days (skip first only if multiple)
        days_ticker = sorted(days_ticker)
        low_2_days = days_ticker[:2]
        if low_2_days[0] <= 8:
            if len(days_ticker) < 3:
                set("Active", value = False, reason = "min days <= 8 & len < 3") # False
                continue
            low_2_days = days_ticker[1:3]
        
        # report two selected days
        set("low days", value = low_2_days[0])
        set("high days", value = low_2_days[1])
        
        # report current date to be active for current ticker, if at least 3 unique strikes. Otherwise inactive
        set("Active", value = True, reason = "")
        for days, high_low in zip(low_2_days, ["low", "high"]): # loops through the highest and lowest days til expiration. e.g. 15 days ("low") and 32 days ("high").
            number_of_K = (od_ticker[od_ticker["days"] == days]["strike_price"]).nunique()
            set(f"{high_low} #K", value = number_of_K)
            if number_of_K < 3:
                set("Active", value = False, reason = f"unique(K) < 3")
        if not get("Active"):
            continue   # if not active
        
        # loop through the two selected dates
        for days in low_2_days:
            TTM = days / 365.0
            # if days > 100: break
            
            # select TTM data (only the given days til expiration)
            od_TTM = od_ticker[od_ticker["days"] == days]
            
            # interpolate the interest rate and forward rate
            r = vp.interpolated_ZCY(ZCY_date, days)
            F = vp.interpolated_FW(FW_ticker, days)
            
            # IV = T_data["IV"]["impl_volatility"] #smile, would need to be interpolated            
            # K = T_data["od"]["strike_price"]
            # IV = T_data["od"]["impl_volatility"]
            # cp_flag = T_data["od"]["cp_flag"]
            # option_prices = vp.BSM(F, K, days, IV, r, cp_flag)
        
            # original slice where days match (idx: od_TTM -> od)
            idx = od_TTM.index

            # modify the original DataFrame in place
            od.loc[idx, "IV_option_price"] = od_TTM.apply(
                lambda row: vp.BSM(
                    F,
                    row["strike_price"],
                    TTM,
                    row["impl_volatility"],
                    r,
                    row["cp_flag"]
                ),
                axis=1
            )
            od.loc[idx, "moneyness"] = np.log10(F / od_TTM["strike_price"])
            
            
    # Print progress
    elapsed_time = time.time() - start_time
    sys.stdout.write(f"\rRunning date: {current_date} | Tickers: {len(tickers_date)} | Time elapsed: {elapsed_time:.2f} seconds")
    sys.stdout.flush()

0.05720860600000001
0.056719222
0.05720860600000001
0.056719222
0.05720860600000001
0.056719222
0.05720860600000001
0.056719222
0.05720860600000001
0.056719222
0.05720860600000001
0.056719222
Running date: 1996-01-04 00:00:00 | Tickers: 6 | Time elapsed: 0.11 seconds0.05722388228571428
0.05671365028571428
0.05722388228571428
0.05671365028571428
0.05722388228571428
0.05671365028571428
0.05722388228571428
0.05671365028571428
0.05722388228571428
0.05671365028571428
0.05722388228571428
0.05671365028571428
Running date: 1996-01-05 00:00:00 | Tickers: 6 | Time elapsed: 0.22 seconds0.05697607923076923
0.05685371777777778
0.05697607923076923
0.05685371777777778
0.05697607923076923
0.05685371777777778
0.05697607923076923
0.05685371777777778
0.05697607923076923
0.05685371777777778
0.05697607923076923
0.05685371777777778
Running date: 1996-01-08 00:00:00 | Tickers: 6 | Time elapsed: 0.34 seconds0.05726993400000001
0.05685795888888889
0.05726993400000001
0.05685795888888889
0.05726993400000001
0.05685795888888889
0.05726993400000001
0.05685795888888889
0.05726993400000001
0.05685795888888889
0.05726993400000001
0.05685795888888889
Running date: 1996-01-09 00:00:00 | Tickers: 6 | Time elapsed: 0.45 seconds0.056984834166666665
0.05686273
0.056984834166666665
0.05686273
0.056984834166666665
0.05686273
0.056984834166666665
0.05686273
0.056984834166666665
0.05686273
0.056984834166666665
0.05686273
Running date: 1996-01-10 00:00:00 | Tickers: 6 | Time elapsed: 0.56 seconds0.05732951333333333
0.056866896666666666
0.05732951333333333
0.056866896666666666
0.05732951333333333
0.056866896666666666
0.05732951333333333
0.056866896666666666
0.05732951333333333
0.056866896666666666
0.05732951333333333
0.056866896666666666
Running date: 1996-01-11 00:00:00 | Tickers: 6 | Time elapsed: 0.68 seconds0.056871278
0.05624900428571429
0.056871278
0.055725387252747255
0.056871278
0.055725387252747255
0.056871278
0.05624900428571429
0.056871278
0.05624900428571429
0.056871278
0.05624900428571429
Running date: 1996-01-12 00:00:00 | Tickers: 6 | Time elapsed: 0.79 seconds0.056884882
0.05619217571428571
0.056884882
0.055642480989010985
0.056884882
0.055642480989010985
0.056884882
0.05619217571428571
0.056884882
0.05619217571428571
0.056884882
0.05619217571428571
Running date: 1996-01-15 00:00:00 | Tickers: 6 | Time elapsed: 0.91 seconds0.05688843080000001
0.05609474857142857
0.05688843080000001
0.05532464333333333
0.05688843080000001
0.05532464333333333
0.05688843080000001
0.05609474857142857
0.05688843080000001
0.05609474857142857
0.05688843080000001
0.05609474857142857
Running date: 1996-01-16 00:00:00 | Tickers: 6 | Time elapsed: 1.02 seconds0.0567818025
0.05600293428571429
0.0567818025
0.05516059000000001
0.0567818025
0.05516059000000001
0.0567818025
0.05600293428571429
0.0567818025
0.05600293428571429
0.0567818025
0.05600293428571429
Running date: 1996-01-17 00:00:00 | Tickers: 6 | Time elapsed: 1.13 seconds0.056682723913043485
0.055812287142857145
0.056682723913043485
0.05491778190476191
0.056682723913043485
0.05491778190476191
0.056682723913043485
0.055812287142857145
0.056682723913043485
0.055812287142857145
0.056682723913043485
0.055812287142857145
Running date: 1996-01-18 00:00:00 | Tickers: 6 | Time elapsed: 1.24 seconds0.056426239090909096
0.055646504285714285
0.056426239090909096
0.054815213333333335
0.056426239090909096
0.054815213333333335
0.056426239090909096
0.055646504285714285
0.056426239090909096
0.055646504285714285
0.056426239090909096
0.055646504285714285
Running date: 1996-01-19 00:00:00 | Tickers: 6 | Time elapsed: 1.36 seconds0.05650001714285715
0.05574451428571429
0.05650001714285715
0.05574451428571429
0.05650001714285715
0.05574451428571429
0.05650001714285715
0.05574451428571429
0.05650001714285715
0.05574451428571429
0.05650001714285715
0.05574451428571429
Running date: 1996-01-22 00:00:00 | Tickers: 6 | Time elapsed: 1.47 seconds0.056513164
0.05569612
0.056513164
0.05569612
0.056513164
0.05569612
0.056513164
0.05569612
0.056513164
0.05569612
0.056513164
0.05569612
Running date: 1996-01-23 00:00:00 | Tickers: 6 | Time elapsed: 1.58 seconds0.05652703789473684
0.05568916571428572
0.05652703789473684
0.05568916571428572
0.05652703789473684
0.05568916571428572
0.05652703789473684
0.05568916571428572
0.05652703789473684
0.05568916571428572
0.05652703789473684
0.05568916571428572
Running date: 1996-01-24 00:00:00 | Tickers: 6 | Time elapsed: 1.69 seconds0.05629786
0.055649677142857144
0.05629786
0.055649677142857144
0.05629786
0.055649677142857144
0.05629786
0.055649677142857144
0.05629786
0.055649677142857144
0.05629786
0.055649677142857144
Running date: 1996-01-25 00:00:00 | Tickers: 6 | Time elapsed: 1.80 seconds0.056354456
0.05552735428571428
0.056354456
0.05552735428571428
0.056354456
0.05552735428571428
0.056354456
0.05552735428571428
0.056354456
0.05552735428571428
0.056354456
0.05552735428571428
Running date: 1996-01-26 00:00:00 | Tickers: 6 | Time elapsed: 1.91 seconds0.056372915714285717
0.05542473571428571
0.056372915714285717
0.05542473571428571
0.056372915714285717
0.05542473571428571
0.056372915714285717
0.05542473571428571
0.056372915714285717
0.05542473571428571
0.056372915714285717
0.05542473571428571
Running date: 1996-01-29 00:00:00 | Tickers: 6 | Time elapsed: 2.03 seconds0.055587584615384614
0.05485685428571428
0.055587584615384614
0.05485685428571428
0.055587584615384614
0.05485685428571428
0.055587584615384614
0.05485685428571428
0.055587584615384614
0.05485685428571428
0.055587584615384614
0.05485685428571428
Running date: 1996-01-30 00:00:00 | Tickers: 6 | Time elapsed: 2.14 seconds0.055064126666666664
0.05440083285714286
0.055064126666666664
0.05440083285714286
0.055064126666666664
0.05440083285714286
0.055064126666666664
0.05440083285714286
0.055064126666666664
0.05440083285714286
0.055064126666666664
0.05440083285714286
Running date: 1996-01-31 00:00:00 | Tickers: 6 | Time elapsed: 2.25 seconds0.05443151222222222
0.053970024285714284
0.05443151222222222
0.053970024285714284
0.05443151222222222
0.053970024285714284
0.05443151222222222
0.053970024285714284
0.05443151222222222
0.053970024285714284
0.05443151222222222
0.053970024285714284
Running date: 1996-02-01 00:00:00 | Tickers: 6 | Time elapsed: 2.36 seconds0.054435555
0.05391097142857142
0.054435555
0.05391097142857142
0.054435555
0.05391097142857142
0.054435555
0.05391097142857142
0.054435555
0.05391097142857142
0.054435555
0.05391097142857142
Running date: 1996-02-02 00:00:00 | Tickers: 6 | Time elapsed: 2.47 seconds0.05444760857142857
0.05388183428571428
0.05444760857142857
0.05388183428571428
0.05444760857142857
0.05388183428571428
0.05444760857142857
0.05388183428571428
0.05444760857142857
0.05388183428571428
0.05444760857142857
0.05388183428571428
Running date: 1996-02-05 00:00:00 | Tickers: 6 | Time elapsed: 2.57 seconds0.05415685
0.05371036428571428
0.05415685
0.05371036428571428
0.05415685
0.05371036428571428
0.05415685
0.05371036428571428
0.05415685
0.05371036428571428
0.05415685
0.05371036428571428
Running date: 1996-02-06 00:00:00 | Tickers: 6 | Time elapsed: 2.68 seconds0.054139816
0.05368068571428572
0.054139816
0.05368068571428572
0.054139816
0.05368068571428572
0.054139816
0.05368068571428572
0.054139816
0.05368068571428572
0.054139816
0.05368068571428572
Running date: 1996-02-07 00:00:00 | Tickers: 6 | Time elapsed: 2.79 seconds0.05380265999999999
0.053539188571428566
0.05380265999999999
0.053539188571428566
0.05380265999999999
0.053539188571428566
0.05380265999999999
0.053539188571428566
0.05380265999999999
0.053539188571428566
Running date: 1996-02-08 00:00:00 | Tickers: 6 | Time elapsed: 2.89 seconds0.05346465285714285
0.05194919186813187
0.05346465285714285
0.05298835095238095
0.05346465285714285
0.05298835095238095
0.05346465285714285
0.05298835095238095
0.05346465285714285
0.05298835095238095
0.05346465285714285
0.05298835095238095
Running date: 1996-02-09 00:00:00 | Tickers: 6 | Time elapsed: 3.00 seconds0.05372759666666667
0.05186031329670329
0.05372759666666667
0.0530529580952381
0.05372759666666667
0.0530529580952381
0.05372759666666667
0.0530529580952381
0.05372759666666667
0.0530529580952381
0.05372759666666667
0.0530529580952381
Running date: 1996-02-12 00:00:00 | Tickers: 6 | Time elapsed: 3.12 seconds0.053731206000000004
0.051774603186813185
0.053731206000000004
0.052999811904761905
0.053731206000000004
0.052999811904761905
0.053731206000000004
0.052999811904761905
0.053731206000000004
0.052999811904761905
0.053731206000000004
0.052999811904761905
Running date: 1996-02-13 00:00:00 | Tickers: 6 | Time elapsed: 3.23 seconds0.05376109666666667
0.051812716263736264
0.05376109666666667
0.05299315857142857
0.05376109666666667
0.05299315857142857
0.05376109666666667
0.05299315857142857
0.05376109666666667
0.05299315857142857
0.05376109666666667
0.05299315857142857
Running date: 1996-02-14 00:00:00 | Tickers: 6 | Time elapsed: 3.35 seconds0.05378158727272728
0.05194747791208792
0.05378158727272728
0.05307791380952381
0.05378158727272728
0.05307791380952381
0.05378158727272728
0.05307791380952381
0.05378158727272728
0.05307791380952381
0.05378158727272728
0.05307791380952381
Running date: 1996-02-15 00:00:00 | Tickers: 6 | Time elapsed: 3.46 seconds0.05379975636363637
0.052110778241758235
0.05379975636363637
0.05312244714285714
0.05379975636363637
0.05312244714285714
0.05379975636363637
0.05312244714285714
0.05379975636363637
0.05312244714285714
0.05379975636363637
0.05312244714285714
Running date: 1996-02-16 00:00:00 | Tickers: 6 | Time elapsed: 3.57 seconds0.053761105999999996
0.05379828857142857
0.053761105999999996
0.05379828857142857
0.053761105999999996
0.05379828857142857
0.053761105999999996
0.05379828857142857
0.053761105999999996
0.05379828857142857
0.053761105999999996
0.05379828857142857
Running date: 1996-02-20 00:00:00 | Tickers: 6 | Time elapsed: 3.69 seconds0.054001837894736844
0.0535624525
0.054001837894736844
0.0535624525
0.054001837894736844
0.0535624525
0.054001837894736844
0.0535624525
0.054001837894736844
0.0535624525
0.054001837894736844
0.0535624525
Running date: 1996-02-21 00:00:00 | Tickers: 6 | Time elapsed: 3.80 seconds0.0537711125
0.05328460000000001
0.0537711125
0.05328460000000001
0.0537711125
0.05328460000000001
0.0537711125
0.05328460000000001
0.0537711125
0.05328460000000001
0.0537711125
0.05328460000000001
Running date: 1996-02-22 00:00:00 | Tickers: 6 | Time elapsed: 3.92 seconds0.05377551533333333
0.0532822275
0.05377551533333333
0.0532822275
0.05377551533333333
0.0532822275
0.05377551533333333
0.0532822275
0.05377551533333333
0.0532822275
0.05377551533333333
0.0532822275
Running date: 1996-02-23 00:00:00 | Tickers: 6 | Time elapsed: 4.04 seconds0.05395349428571429
0.05341983714285714
0.05395349428571429
0.05341983714285714
0.05395349428571429
0.05341983714285714
0.05395349428571429
0.05341983714285714
0.05395349428571429
0.05341983714285714
0.05395349428571429
0.05341983714285714
Running date: 1996-02-26 00:00:00 | Tickers: 6 | Time elapsed: 4.16 seconds0.05397170153846154
0.05353935142857143
0.05397170153846154
0.05353935142857143
0.05397170153846154
0.05353935142857143
0.05397170153846154
0.05353935142857143
0.05397170153846154
0.05353935142857143
0.05397170153846154
0.05353935142857143
Running date: 1996-02-27 00:00:00 | Tickers: 6 | Time elapsed: 4.28 seconds0.05379651
0.053665464999999996
0.05379651
0.053665464999999996
0.05379651
0.053665464999999996
0.05379651
0.053665464999999996
0.05379651
0.053665464999999996
0.05379651
0.053665464999999996
Running date: 1996-02-28 00:00:00 | Tickers: 6 | Time elapsed: 4.40 seconds0.05380211555555556
0.05366545607142857
0.05380211555555556
0.05366545607142857
0.05380211555555556
0.05366545607142857
0.05380211555555556
0.05366545607142857
0.05380211555555556
0.05366545607142857
0.05380211555555556
0.05366545607142857
Running date: 1996-02-29 00:00:00 | Tickers: 6 | Time elapsed: 4.52 seconds0.053806465
0.0534015925
0.053806465
0.0534015925
0.053806465
0.0534015925
0.053806465
0.0534015925
0.053806465
0.0534015925
0.053806465
0.0534015925
Running date: 1996-03-01 00:00:00 | Tickers: 6 | Time elapsed: 4.64 seconds0.054087472857142854
0.05339758142857143
0.054087472857142854
0.05339758142857143
0.054087472857142854
0.05339758142857143
0.054087472857142854
0.05339758142857143
0.054087472857142854
0.05339758142857143
0.054087472857142854
0.05339758142857143
Running date: 1996-03-04 00:00:00 | Tickers: 6 | Time elapsed: 4.76 seconds0.05382219333333333
0.05338709178571429
0.05382219333333333
0.05338709178571429
0.05382219333333333
0.05338709178571429
0.05382219333333333
0.05338709178571429
0.05382219333333333
0.05338709178571429
0.05382219333333333
0.05338709178571429
Running date: 1996-03-05 00:00:00 | Tickers: 6 | Time elapsed: 4.88 seconds0.05382628799999999
0.05351242678571429
0.05382628799999999
0.05351242678571429
0.05382628799999999
0.05351242678571429
0.05382628799999999
0.05351242678571429
0.05382628799999999
0.05351242678571429
0.05382628799999999
0.05351242678571429
Running date: 1996-03-06 00:00:00 | Tickers: 6 | Time elapsed: 4.99 seconds0.05383193999999999
0.05350740642857143
0.05383193999999999
0.05350740642857143
0.05383193999999999
0.05350740642857143
0.05383193999999999
0.05350740642857143
0.05383193999999999
0.05350740642857143
0.05383193999999999
0.05350740642857143
Running date: 1996-03-07 00:00:00 | Tickers: 6 | Time elapsed: 5.12 seconds0.05418545428571429
0.054303312637362634
0.05418545428571429
0.05435849725274725
0.05418545428571429
0.05435849725274725
0.05418545428571429
0.054246739428571424
0.05418545428571429
0.054246739428571424
0.05418545428571429
0.054246739428571424
Running date: 1996-03-08 00:00:00 | Tickers: 6 | Time elapsed: 5.23 seconds0.05434591857142857
0.054293859780219784
0.05434591857142857
0.0543066443956044
0.05434591857142857
0.0543066443956044
0.05434591857142857
0.05433637571428571
0.05434591857142857
0.05433637571428571
0.05434591857142857
0.05433637571428571
Running date: 1996-03-11 00:00:00 | Tickers: 6 | Time elapsed: 5.34 seconds0.05434975928571428
0.05436811527472528
0.05434975928571428
0.05439980450549451
0.05434975928571428
0.05439980450549451
0.05434975928571428
0.05434456
0.05434975928571428
0.05434456
0.05434975928571428
0.05434456
Running date: 1996-03-12 00:00:00 | Tickers: 6 | Time elapsed: 5.45 seconds0.05435840107142857
0.05439808978021979
0.05435840107142857
0.0544254343956044
0.05435840107142857
0.0544254343956044
0.05435840107142857
0.05439013142857143
0.05435840107142857
0.05439013142857143
0.05435840107142857
0.05439013142857143
Running date: 1996-03-13 00:00:00 | Tickers: 6 | Time elapsed: 5.56 seconds0.054381362142857145
0.054342495274725275
0.054381362142857145
0.05436326450549451
0.054381362142857145
0.05436326450549451
0.054381362142857145
0.05435888485714286
0.054381362142857145
0.05435888485714286
0.054381362142857145
0.05435888485714286
Running date: 1996-03-14 00:00:00 | Tickers: 6 | Time elapsed: 5.68 seconds0.05446633035714286
0.054865052197802196
0.05446633035714286
0.05492816604395604
0.05446633035714286
0.05492816604395604
0.05446633035714286
0.054725682000000005
0.05446633035714286
0.054725682000000005
0.05446633035714286
0.054725682000000005
Running date: 1996-03-15 00:00:00 | Tickers: 6 | Time elapsed: 5.79 seconds0.054648718928571434
0.054841906
0.054648718928571434
0.054841906
0.054648718928571434
0.054841906
0.054648718928571434
0.054841906
0.054648718928571434
0.054841906
0.054648718928571434
0.054841906
Running date: 1996-03-18 00:00:00 | Tickers: 6 | Time elapsed: 5.90 seconds0.05465068392857143
0.05484298628571429
0.05465068392857143
0.05484298628571429
0.05465068392857143
0.05484298628571429
0.05465068392857143
0.05484298628571429
0.05465068392857143
0.05484298628571429
Running date: 1996-03-19 00:00:00 | Tickers: 6 | Time elapsed: 6.00 seconds0.0546664725
0.05470300657142858
0.0546664725
0.05470300657142858
0.0546664725
0.05470300657142858
0.0546664725
0.05470300657142858
0.0546664725
0.05470300657142858
0.0546664725
0.05470300657142858
Running date: 1996-03-20 00:00:00 | Tickers: 6 | Time elapsed: 6.12 seconds0.05507536
0.05490553628571428
0.05507536
0.05490553628571428
0.05507536
0.05490553628571428
0.05507536
0.05490553628571428
0.05507536
0.05490553628571428
0.05507536
0.05490553628571428
Running date: 1996-03-21 00:00:00 | Tickers: 6 | Time elapsed: 6.23 seconds0.05501911499999999
0.05487466314285715
0.05501911499999999
0.05487466314285715

KeyboardInterrupt:

In [46]:
# od_TTM
# F

In [48]:
od_TTM

,secid,date,exdate,cp_flag,strike_price,best_bid,best_offer,volume,impl_volatility,ticker,n_trading_day,days,spread,IV_option_price,moneyness
2851974,109764,2003-02-28,2003-04-19,C,510.0,0.30,0.45,0,0.247765,OEX,1800,50,0.15,NaN,NaN
2851975,109764,2003-02-28,2003-04-19,C,515.0,0.05,0.35,0,0.235862,OEX,1800,50,0.30,NaN,NaN
2851980,109764,2003-02-28,2003-04-19,C,500.0,0.35,0.65,0,0.236495,OEX,1800,50,0.30,NaN,NaN
2852009,109764,2003-02-28,2003-04-19,P,510.0,85.20,87.20,0,0.317292,OEX,1800,50,2.00,NaN,NaN
2852010,109764,2003-02-28,2003-04-19,P,515.0,90.20,92.20,0,0.330611,OEX,1800,50,2.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2852205,109764,2003-02-28,2003-04-19,P,470.0,47.80,49.30,0,0.270652,OEX,1800,50,1.50,NaN,NaN
2852206,109764,2003-02-28,2003-04-19,P,475.0,51.90,53.90,0,0.271504,OEX,1800,50,2.00,NaN,NaN
2852207,109764,2003-02-28,2003-04-19,P,480.0,56.50,58.50,0,0.276923,OEX,1800,50,2.00,NaN,NaN
2852208,109764,2003-02-28,2003-04-19,P,490.0,65.80,67.80,0,0.285431,OEX,1800,50,2.00,NaN,NaN
2852209,109764,2003-02-28,2003-04-19,P,400.0,8.90,9.60,459,0.316484,OEX,1800,50,0.70,NaN,NaN

In [47]:
F

425.066304

In [49]:
# summary_dly_df